mixin feedback-modal()

  #feedback-modal.s-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='feedback-modal-label', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content.s-modal__inner
        h5#feedback-modal-label.s-modal__title Обратный звонок
        button.s-modal__close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true')
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 20 20', width='15', height='15')
              path(fill-rule='evenodd', d='M19.6672727.45333333c-.2222223-.16-.4666667-.23555555-.7333334-.22666666-.2844444 0-.5244444.09777777-.72.29333333l-8.1999999 8.0933333L9.920606 8.52 1.76060606.26666667C1.60949494.11555556 1.43171717.03111111 1.22727272.01333333 1.18282828.00444444 1.13838383 0 1.09393939 0 .8450505 0 .62727273.11111111.44060606.33333333.28949495.54666667.21838384.79111111.22727273 1.06666666c0 .25777778.09333333.48.28.66666667L8.5339394 9.8933333l.0933333.0933333-8.35999997 8.2666667c-.18666667.1866666-.27555556.4088889-.26666667.6666666 0 .2488889.11111111.4666667.33333333.6533334.21333334.1511111.45777778.2222222.73333333.2133333.25777778 0 .48-.0933333.66666667-.28l8.25333331-8.1333333.3066667.3066667.1066666.1066666 7.8133333 7.9466667c.1688889.1777778.3955556.2666667.68.2666667h.08c.2133334-.0355556.4088889-.1466667.5866667-.3333334.16-.2222222.2355556-.4666667.2266667-.7333333 0-.2844445-.0977778-.5244445-.2933334-.72l-7.6933333-7.8-.1066666-.1066667L11.3872727 10l8.3466666-8.20000001c.1777778-.16888888.2666667-.39555555.2666667-.67999999-.0088889-.24888889-.12-.47111111-.3333333-.66666667z')

        +form()
          +field-text({
            title: 'Имя',
            attrs: {
              placeholder: 'Placeholder'
            }
          })
          +field-text({
            title: 'Телефон',
            attrs: {
              placeholder: 'Placeholder'
            }
          })
          +field-actions()
            +btn('Отправить заявку', 'ghost')
