.s-modal {

  &__inner {
    padding: 2rem 1rem;
    position: relative;

    @media (min-width: $screen-sm) {
      padding: 2rem;
    }
  }

  &__title {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;

    svg {
      fill: rgba(#000, 0.25);
    }
  }
}