.s-main-nav {
  font-size: $font-size--small;
  line-height: $line-heght--small;
  position: relative;
  z-index: 10;

  @media (max-width: ($screen-sm - 1)) {
    position: absolute;
    top: 0;
    background-color: $bg-color--light;
    left: 0;
    width: 100%;
    padding: 0 15px;
    opacity: 0;
    height: 0;
    visibility: hidden;

    &--is-open {
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (max-width: ($screen-sm - 1)) {
      flex-direction: column;
    }

    @media (max-width: ($screen-md - 1)) {
      justify-content: space-between;
    }

    li {
      position: relative;

      @media (max-width: ($screen-sm - 1)) {
        margin: 0;
      }

      &:not(:last-child) {
        margin-right: 2.25rem;

        @media (max-width: ($screen-sm - 1)) {
          border-bottom: 1px solid $border-color;
        }

        @media (max-width: ($screen-md - 1)) {
          margin-right: 0;
        }
      }

      a {
        display: block;
        padding: 0.75em 0;
        text-decoration: none;
        color: currentColor;
        position: relative;
        transition: color 0.5s cubic-bezier(0.4,0,0,1);

        &::before {

          @media (min-width: $screen-sm) {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: -0.5rem;
            right: -0.5rem;
          }
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          height: 0.5rem;
          width: 1px;
          background-color: $color-primary;
          transform: scaleY(0);
          transition: transform 0.5s cubic-bezier(0.4,0,0,1);
          transform-origin: top center;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: $color-primary;

          &::after {
            transform: scaleY(1);
            transform-origin: bottom center;
          }
        }
      }
    }
  }
}
