.s-table {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  overflow-x: auto;
  font-size: $font-size--small;
  line-height: $line-heght--small;

  table {
    margin: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    padding: 0.75rem 0.75rem 0.75rem 0;
    vertical-align: top;
    border-bottom: 1px solid $border-color;
  }

  th {
    text-align: left;
    border-bottom: 1px solid currentColor;

    input {
      vertical-align: middle;
      width: 100%;
      margin: 0;
      font-size: $font-size--small;
      line-height: $line-heght--small;
      font-family: inherit;
      background-color: #fafafa;
      border: 1px solid $bg-color--light;
      border-radius: $border-radius;
      appearance: textfield;
      padding: 0.25rem .5rem;
    }
  }

  td {
    color: lighten($text-color, 25%);
  }

  tbody,
  thead,
  tfoot {

    &:last-child {

      tr:last-child {

        td,
        th {
          // border-bottom: 0;
        }
      }
    }
  }

  caption {
    caption-side: top;
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid $border-color;
    font-size: $font-size--small;
    line-height: 1em;
    color: $text-color--lighter;
  }
}