mixin field-actions(text, mods)

  //- Param:
    text: ''  {string} - helper text
    mods: ''  {string} - modifiers

  //- Use:
    +field-actions('text (if needed)', 'mod')
      +btn('Submit')

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-field-actions--' + modsList[i].trim();
      }
    }

  .s-field-actions(class=allMods)&attributes(attributes)
    if (typeof(text) !== 'undefined' && text)
      .field-actions__text!= text
    block
