.s-parts {
  background-color: $bg-color;
  color: $text-color;
  padding: 0 0 1rem;
  position: relative;

  @media (min-width: $screen-md) {
    padding: 4rem 0;
    margin: 4rem 0;
  }

  &__cover {
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      height: 390px;
    }

    @media (min-width: $screen-md) {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
    }

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 0.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 1rem;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 2.25rem;
    }
  }

  &__text {

    @media (max-width: ($screen-sm - 1)) {
      font-size: $font-size--small;
      line-height: $line-heght--small;
    }
  }
}