mixin promo()

  section.s-promo
    .s-promo__slider
      .s-promo__slider-btn.s-promo__slider-btn--next
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 15 25', width='15', height='25')
          path(fill-rule='evenodd', d='M10.65 12.5L.25 22.9l2.05 2.05L14.75 12.5 2.3 0 .25 2.05z')
      .s-promo__slider-btn.s-promo__slider-btn--prev
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 15 25', width='15', height='25')
          path(fill-rule='evenodd', d='M10.65 12.5L.25 22.9l2.05 2.05L14.75 12.5 2.3 0 .25 2.05z')
      .swiper-container.s-promo__slider-swiper
        .swiper-wrapper
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-cover
                img(src='img/promo-cover-example.jpg', alt='/')
              .s-promo__slide-inner
                .container
                  .row
                    .col-lg-4.offset-lg-7
                      h1.s-promo__slide-title Suscitat mortuos comedere carnem virus
                      p.s-promo__slide-desc Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater.
                      +btn('Подробнее', 'dark')(href='/')
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-cover
                img(src='img/promo-cover-example.jpg', alt='/')
              .s-promo__slide-inner
                .container
                  .row
                    .col-lg-4.offset-lg-7
                      h1.s-promo__slide-title Suscitat mortuos comedere carnem virus
                      p.s-promo__slide-desc Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater.
                      +btn('Подробнее', 'dark')(href='/')
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-cover
                img(src='img/promo-cover-example.jpg', alt='/')
              .s-promo__slide-inner
                .container
                  .row
                    .col-lg-4.offset-lg-7
                      h1.s-promo__slide-title Suscitat mortuos comedere carnem virus
                      p.s-promo__slide-desc Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater.
                      +btn('Подробнее', 'dark')(href='/')