.s-promo {

  &__slider {
    position: relative;
  }

  &__slider-btn {
    background-color: $bg-color--dark;
    color: $text-color--lighter;
    width: 80px;
    height: 80px;
    position: absolute;
    top: calc(50% - 40px);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;

    svg {
      fill: currentColor;
    }

    &--prev {
      left: 0;

      svg {
        transform: rotate3d(0,0,1,180deg);
      }
    }

    &--next {
      right: 0;
    }
  }

  &__slide {
    background-color: $color-primary;
    color: $text-color--lighter;
  }

  &__slide-cover {
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 1;

    @media (min-width: $screen-sm) {
      height: 450px;
    }

    @media (min-width: $screen-md) {
      position: absolute;
      left: 0;
      height: 95%;
      top: 0;
      width: 55%;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__slide-inner {
    position: relative;
    left: 0;
    z-index: 2;
    padding: 1.5rem 15px;

    @media (min-width: $screen-md) {
      padding: 5.5rem 2rem;
    }
  }

  &__slide-title {
    color: currentColor;
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 1rem;
  }

  &__slide-desc {
    font-size: 1rem;
    line-height: 1.5rem;
    opacity: 0.75;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 3rem;
    }
  }
}