.s-why-are-we {
  padding: 0 0 3rem 0;
  position: relative;

  @media (min-width: $screen-md) {
    padding: 6rem 0 10rem;
  }

  &__inner {
    position: relative;
    padding: 2rem 1rem;
    background-color: $bg-color;
    color: $text-color;
    margin-top: -15vw;;

    @media (min-width: $screen-sm) {
      padding: 3rem;
    }

    @media (min-width: $screen-md) {
      padding: 0 1rem 0 3rem;
      margin-top: 0;
    }

    &::before {
      position: absolute;
      content: '';
      background-color: $bg-color--light;
      width: 3px;
      height: 100%;
      left: -3px;
      top: 0;
    }
  }

  &__intro {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 0.75rem;

    @media (min-width: $screen-md) {
      margin-top: 3rem;
    }
  }

  &__text {
    opacity: 0.75;
    font-size: $font-size--small;
    line-height: $line-heght--small;
    margin-bottom: 3rem;
  }

  &__cover {
    width: 100%;
    height: 300px;

    @media (min-width: $screen-sm) {
      height: 450px;
    }

    @media (min-width: $screen-md) {
      position: absolute;
      left: 50%;
      height: 100%;
      top: 0;
      width: 50%;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}