.s-news {
  background-color: $bg-color--dark;
  color: $text-color--lighter;
  padding: 2rem 0 3rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 1440 175'%3E%3Cdefs%3E%3Cpath id='a' d='M.16736361.3352381h1439.66179v175.664762H.16736361z'/%3E%3Cpath id='c' d='M.16736361.3352381h1439.66179v175.664762H.16736361z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(0 -.695122)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cpath stroke='%23EE3224' stroke-width='1.25' d='M.33472722 105.264762C167.363611 140.129524 339.24604 162.590476 514.977833 171.139048 833.805512 186.56 1144.09765 155.885714 1439.49442 84.647619' mask='url(%23b)'/%3E%3C/g%3E%3Cg transform='translate(0 -.695122)'%3E%3Cmask id='d' fill='%23fff'%3E%3Cuse xlink:href='%23c'/%3E%3C/mask%3E%3Cpath stroke='%23919195' stroke-width='1.25' d='M1439.49442 131.748571c-191.96606 25.310477-388.95303 33.859048-589.287274 24.137143C554.308281 141.638095 269.455414 88.3352381.33472722 1.34095238' mask='url(%23d)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 100%;

  @media (min-width: $screen-md) {
    padding: 4.5rem 0 7.5rem;
  }

  &__item {
    margin: 0;
    color: currentColor;
    margin-bottom: 1.5rem;

    a {
      display: block;
      color: currentColor;
    }
  }

  &__date {
    text-transform: lowercase;
    font-size: $font-size--small;
    line-height: $line-heght--small;
    opacity: 0.5;
    margin-bottom: 0.5rem;
    display: inline-block;

    @media (min-width: $screen-sm) {
      margin-bottom: 0.75rem;
    }
  }

  &__title {
    font-size: 1rem;
    line-height: 1.3rem;
    color: currentColor;
    font-weight: 400;
  }
}