mixin news()

  section.s-news
    .container
      h2.s-section-title Полезная информация
      ul.s-news__list.row
        li.s-news__item.col-12.col-md-6.col-lg-3
          +date('2019-09-01').s-news__date
          a(href='/')
            h3.s-news__title De apocalypsi gorger omero undead survivor dictum mauris
        li.s-news__item.col-12.col-md-6.col-lg-3
          +date('2019-07-18').s-news__date
          a(href='/')
            h3.s-news__title Hi mindless mortuis soulless creaturas, imo evil stalking monstra
        li.s-news__item.col-12.col-md-6.col-lg-3
          +date('2019-08-19').s-news__date
          a(href='/')
            h3.s-news__title Adventus resi dentevil vultus comedat cerebella viventium
        li.s-news__item.col-12.col-md-6.col-lg-3
          +date('2019-04-10').s-news__date
          a(href='/')
            h3.s-news__title Imo evil stalking monstra adventus resi dentevil vultus comedat
