.s-breadcrumb {
  padding: 0.5rem 15px;
  list-style: none;
  font-size: $font-size--small;
  line-height: $line-heght--small;
  border-bottom: 1px solid $border-color;

  @media (max-width: ($screen-sm - 1)) {
    display: none;
  }

  &__inner {
    max-width: 1320px;
    margin: auto;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 0.5rem;
    white-space: nowrap;

    &:not(:last-child):after {
      content: '>';
      margin-left: 0.5rem;
      opacity: 0.5;
    }

    a {
      color: $text-color;
      text-decoration: none;
      opacity: 0.5;
      transition: opacity 0.3s cubic-bezier(0.4,0,0,1);

      &:hover,
      &:focus {
        color: $text-color;
        text-decoration: none;
        opacity: 1;
      }
    }
  }
}