.s-direction {
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 1rem;
  display: block;
  position: relative;
  color: currentColor;

  &:hover,
  &:focus {
    color: currentColor;
    text-decoration: none;

    &::after {
      transform: scaleY(1);
      transform-origin: top left;
    }
  }

  &::before {
    position: absolute;
    content: '';
    background-color: $bg-color--light;
    width: 1px;
    height: 100%;
    left: -3px;
    top: 0;
  }

  &::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: -3px;
    top: 0;
    background-color: $color-primary;
    transform: scaleY(0);
    transition: transform 0.4s cubic-bezier(0.4,0,0,1);
    transform-origin: bottom left;
  }

  @media (min-width: $screen-sm) {
    padding: 0 1rem 2rem 1rem;
  }

  &__figure {
    margin: 0;
  }

  &__cover {
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 2rem;
    }
  }

  &__caption {
    font-size: $font-size--small;
    line-height: $line-heght--small;
  }
}