mixin inner-layout(title)

  .s-inner-layout
    .s-inner-layout__inner
      h1.s-inner-layout__title #{title}
      .row
        .col-12.col-lg-3
          block aside
        .col-12.col-lg-9
          block info