.s-inner-layout {
  padding: 15px;

  &__inner {
    max-width: 1320px;
    margin: auto;
  }

  &__title {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  &__more {
    margin-bottom: 1rem;
  }

  &__more-btn {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
    position: relative;
    transition: color 0.5s cubic-bezier(0.4,0,0,1);
    font-size: $font-size--small;
    line-height: $line-heght--small;
    padding: 0;
    margin-top: 0.5rem;

    &::after {
      content: '';
      position: absolute;
      bottom: -0.125rem;
      left: 0;
      right: 0;
      height: 3px;
      width: 100%;
      background-color: $color-primary;
      transform: scaleX(1);
      transition: transform 0.5s cubic-bezier(0.4,0,0,1);
      transform-origin: center left;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $color-primary;

      &::after {
        transform: scaleX(0);
        transform-origin: center right;
      }
    }
  }
}