mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__top
      .s-page-header__inner.s-page-header__inner--top
        .s-page-header__logos
          +logo('/index.html')
            img(src='img/comair.svg', alt='Comair Logo', width='203', height='45')
          +logo('/')
            img(src='img/ingersoll-rand.svg', alt='Comair Logo', width='179', height='45')
        .s-page-header__contact
          ul.s-page-header__contact-list
            li: a(href='tel:+78126767685') +7 (812) 676-76-85
            li: a(href='mailto:spb@comair-russia.ru') spb@comair-russia.ru
          button.s-btn.s-btn--ghost.s-btn--without-icon.s-btn--small(type='button', data-toggle='modal', data-target='#feedback-modal') Обратный звонок
        +hamburger('Show main navigation', 'main-nav', 's-main-nav--is-open')
    .s-page-header__bottom
      .s-page-header__inner.s-page-header__inner--bottom
        nav#main-nav.s-main-nav
          ul.s-main-nav__list
            li: a(href='/') О компании
            li: a(href='/') Оборудование
            li: a(href='/') Сервис и услуги
            li: a(href='/') Запчасти
            li: a(href='/') Информация
            li: a(href='/') Контакты
