.s-page-header {
  font-size: $font-size--small;
  line-height: $line-heght--small;

  @media (max-width: ($screen-sm - 1)) {
    border-bottom: 1px solid $border-color;
  }

  &__inner {
    width: 100%;
    max-width: 1320px;
    margin: auto;

    &--top {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    &--bottom {
      // position: relative;
    }
  }

  &__top {
    padding: 1rem 15px;
    position: relative;
  }

  &__bottom {
    padding: 0 15px;
    background-color: $bg-color--light;
    position: relative;
  }

  &__logos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @media (max-width: ($screen-sm - 1)) {
      max-width: 60%;
    }

    .s-logo {

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (max-width: ($screen-sm - 1)) {
      display: none;
    }
  }

  &__contact-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 1.5rem;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: $color-primary;
      height: 6px;
      width: 6px;
      border-radius: 6px;
      left: calc(-1rem - 6px);
      top: calc(50% - 3px);
    }

    @media (max-width: ($screen-md - 1)) {
      display: none;
    }

    li {
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-right: 0.75rem;

        &::after {
          content: '/';
          margin-left: 0.75rem;
          opacity: 0.25;
        }
      }

      a {
        color: currentColor;
        text-decoration: none;
        position: relative;
        padding: 0.25rem 0;

        &::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          border-bottom: 1px solid $color-primary;
          transform: scaleX(0);
          transition: transform 0.3s cubic-bezier(0.4,0,0,1);
          transform-origin: center right;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: currentColor;

          &::after {
            transform: scaleX(1);
            transform-origin: center left;
          }
        }
      }
    }
  }
}