.s-directions {
  background-color: $bg-color;
  color: $text-color;
  padding: 2rem 0 1rem;

  @media (min-width: $screen-md) {
    padding: 4.5rem 0 4.5rem;
  }

  &__list {
    margin-bottom: 1rem;
  }
}