mixin directions()

  section.s-directions
    .container
      h2.s-section-title Направления
      .s-directions__list
        .row
          .col-12.col-sm-6.col-md-4.col-xl-2
            a.s-direction(href='/')
              figure.s-direction__figure
                .s-direction__cover
                  svg(xmlns='http://www.w3.org/2000/svg', width='73', height='56', viewbox='0 0 73 56')
                    g(fill='none', fill-rule='evenodd')
                      path(fill='#525762', d='M49.0250088,-9.9475983e-14 L68.5520941,-9.9475983e-14 C69.7609419,-9.9475983e-14 70.8586667,0.492185654 71.6535871,1.28492827 C72.4485076,2.07767089 72.9420454,3.17262447 72.9420454,4.37792405 L72.9420454,51.6216034 C72.9420454,52.8271392 72.4485076,53.9220928 71.6535871,54.7148354 C70.8586667,55.5078143 69.7609419,55.9997637 68.5520941,55.9997637 L49.0250088,55.9997637 C47.816161,55.9997637 46.7184362,55.5078143 45.9232788,54.7148354 C45.3375729,54.1304979 44.9153528,53.3821772 44.7338598,52.5464304 C45.151815,52.5988861 45.577826,52.6260591 46.0099974,52.6260591 C46.5419189,52.6260591 47.0641259,52.5849451 47.5735385,52.5060253 C47.6443823,52.6203882 47.7280208,52.7257722 47.8230321,52.8202869 C48.1322337,53.1291139 48.5580078,53.3207426 49.0250088,53.3207426 L68.5520941,53.3207426 C69.0190951,53.3207426 69.4448692,53.1291139 69.7540708,52.8202869 C70.0635093,52.5119325 70.2554275,52.0875612 70.2554275,51.6216034 L70.2554275,4.37792405 C70.2554275,3.91220253 70.0635093,3.48783122 69.7540708,3.17924051 C69.4448692,2.87064979 69.0190951,2.6790211 68.5520941,2.6790211 L49.0250088,2.6790211 C48.5580078,2.6790211 48.1322337,2.87064979 47.8230321,3.17924051 C47.5135936,3.48783122 47.3214385,3.91220253 47.3214385,4.37792405 L47.3214385,32.5407257 C46.8921104,32.4854346 46.4544895,32.4566076 46.0099974,32.4566076 C45.5437072,32.4566076 45.0845252,32.48827 44.6350574,32.5492321 L44.6350574,4.37792405 C44.6350574,3.17262447 45.1285953,2.07767089 45.9232788,1.28492827 C46.7184362,0.492185654 47.816161,-9.9475983e-14 49.0250088,-9.9475983e-14')
                      path(fill='#525762', d='M51.498716,37.067865 C50.094159,35.6671561 48.1536527,34.800692 46.0100922,34.800692 C43.8667686,34.800692 41.9262623,35.6671561 40.5217053,37.067865 C39.1171483,38.4685738 38.2483038,40.4037637 38.2483038,42.5414515 C38.2483038,44.678903 39.1171483,46.6140928 40.5217053,48.0148017 C41.9262623,49.4155105 43.8667686,50.2819747 46.0100922,50.2819747 C48.1536527,50.2819747 50.094159,49.4155105 51.498716,48.0148017 C52.903273,46.6140928 53.7718806,44.678903 53.7718806,42.5414515 C53.7718806,40.4037637 52.903273,38.4685738 51.498716,37.067865 M46.0100922,32.4564895 C48.8023836,32.4564895 51.3307283,33.5854684 53.1608225,35.4103122 C54.9906796,37.2353924 56.1227601,39.7568101 56.1227601,42.5414515 C56.1227601,45.3258565 54.9906796,47.8472743 53.1608225,49.6723544 C51.3307283,51.4971983 48.8023836,52.6261772 46.0100922,52.6261772 C43.2178007,52.6261772 40.689693,51.4971983 38.8595988,49.6723544 C37.0297416,47.8472743 35.8976611,45.3258565 35.8976611,42.5414515 C35.8976611,39.7568101 37.0297416,37.2353924 38.8595988,35.4103122 C40.689693,33.5854684 43.2178007,32.4564895 46.0100922,32.4564895')
                      path(fill='#CE422C', d='M62.3575193,8.62886751 L56.155481,8.62886751 C55.4242963,8.62886751 54.7587429,8.92800675 54.2751564,9.41026835 C53.7918069,9.89229367 53.4916089,10.5562599 53.4916089,11.2854414 L53.4916089,25.5919055 C53.4916089,26.3208506 53.7918069,26.9848169 54.2751564,27.4670785 C54.7587429,27.9491038 55.4242963,28.2484793 56.155481,28.2484793 L62.3575193,28.2484793 C63.088704,28.2484793 63.7544943,27.9491038 64.2378439,27.4670785 C64.7214304,26.9848169 65.0213914,26.3208506 65.0213914,25.5919055 L65.0213914,11.2854414 C65.0213914,10.5562599 64.7214304,9.89229367 64.2378439,9.41026835 C63.7544943,8.92800675 63.088704,8.62886751 62.3575193,8.62886751 M56.155481,5.94961013 L62.3575193,5.94961013 C63.8303139,5.94961013 65.1680549,6.54954262 66.1373603,7.51595612 C67.1061918,8.48236962 67.7077725,9.81644557 67.7077725,11.2854414 L67.7077725,25.5919055 C67.7077725,27.0604287 67.1061918,28.3947409 66.1373603,29.3613907 C65.1680549,30.3278042 63.8303139,30.9277367 62.3575193,30.9277367 L56.155481,30.9277367 C54.6826865,30.9277367 53.3447085,30.3278042 52.3756401,29.3613907 C51.4065716,28.3947409 50.8049909,27.0604287 50.8049909,25.5919055 L50.8049909,11.2854414 C50.8049909,9.81644557 51.4065716,8.48236962 52.3756401,7.51595612 C53.3447085,6.54954262 54.6826865,5.94961013 56.155481,5.94961013')
                      path(fill='#525762', d='M21.4680182,19.8537722 L21.4680182,17.1747511 L12.4874307,17.1747511 L12.4874307,32.7363713 C13.4429938,32.9658059 14.3454833,33.3303966 15.1740487,33.8091139 L15.1740487,19.8537722 L21.4680182,19.8537722 Z M34.3665803,19.8537722 L44.6349153,19.8537722 L44.6349153,17.1747511 L34.3665803,17.1747511 L34.3665803,19.8537722 Z M34.3665803,13.8258565 L44.6349153,13.8258565 L44.6349153,11.1468354 L34.3665803,11.1468354 L34.3665803,13.8258565 Z M9.48995261,11.1468354 L21.4680182,11.1468354 L21.4680182,13.8258565 L9.57359104,13.8258565 L9.48995261,13.8258565 C9.39233496,13.8258565 9.30229925,13.8669705 9.23643103,13.9326582 L9.23382473,13.9300591 C9.16937812,13.9957468 9.12957287,14.0860084 9.12957287,14.1854852 L9.12957287,32.503865 C8.19059526,32.5943629 7.28905355,32.812692 6.44295488,33.1413671 L6.44295488,14.1854852 C6.44295488,13.351865 6.78532749,12.5936203 7.33691464,12.0435443 L7.33691464,12.038346 C7.88850179,11.48827 8.65048815,11.1468354 9.48995261,11.1468354 L9.48995261,11.1468354 Z')
                      path(fill='#525762', d='M15.6010549 37.067865C14.1964979 35.6671561 12.2559916 34.800692 10.112668 34.800692 7.96910743 34.800692 6.02883804 35.6671561 4.62428108 37.067865 3.21948718 38.4685738 2.35087958 40.4037637 2.35087958 42.5414515 2.35087958 44.678903 3.21972412 46.6140928 4.62428108 48.0148017 6.02883804 49.4155105 7.96910743 50.2819747 10.112668 50.2819747 12.2559916 50.2819747 14.1964979 49.4155105 15.6010549 48.0148017 17.0056118 46.6140928 17.8744563 44.678903 17.8744563 42.5414515 17.8744563 40.4037637 17.0056118 38.4685738 15.6010549 37.067865M10.112668 32.4564895C12.9049594 32.4564895 15.4330672 33.5854684 17.2631613 35.4103122 19.0930185 37.2353924 20.225099 39.7568101 20.225099 42.5414515 20.225099 45.3258565 19.0930185 47.8472743 17.2631613 49.6723544 15.4330672 51.4971983 12.9049594 52.6261772 10.112668 52.6261772 7.3203765 52.6261772 4.79226874 51.4971983 2.96217462 49.6723544 1.13231743 47.8472743 0 45.3258565 0 42.5414515 0 39.7568101 1.13231743 37.2353924 2.96217462 35.4103122 4.79226874 33.5854684 7.3203765 32.4564895 10.112668 32.4564895M25.689816 5.94963376L30.1449247 5.94963376C31.307333 5.94963376 32.3631201 6.42291646 33.1277128 7.18517806 33.8920685 7.94767595 34.3666514 9.00057046 34.3666514 10.1597941L34.3666514 31.9144945C34.3666514 32.7729249 34.1062587 33.5732287 33.6608189 34.2400304 32.9128117 33.7244523 32.0920652 33.3071696 31.2165865 33.0056675L31.2279594 32.994562C31.5070701 32.7166886 31.6800334 32.3341401 31.6800334 31.9144945L31.6800334 10.1597941C31.6800334 9.74014852 31.5070701 9.3576 31.2279594 9.07972658 30.9490857 8.80138059 30.5654862 8.62889114 30.1449247 8.62889114L25.689816 8.62889114C25.2692545 8.62889114 24.885418 8.80138059 24.6067812 9.07972658 24.3279075 9.3576 24.1547072 9.74014852 24.1547072 10.1597941L24.1547072 31.9144945C24.1547072 32.3341401 24.3279075 32.7166886 24.6067812 32.994562L24.6181542 33.0056675C23.7426754 33.3071696 22.921692 33.7244523 22.1739218 34.2400304 21.7282451 33.5729924 21.4680893 32.7729249 21.4680893 31.9144945L21.4680893 10.1597941C21.4680893 9.00057046 21.9429091 7.94767595 22.7070279 7.18517806 23.4718575 6.42291646 24.5274077 5.94963376 25.689816 5.94963376')
                      path(fill='#525762', d='M33.4057335 37.067865C32.0014135 35.6671561 30.0609072 34.800692 27.9173466 34.800692 25.7737861 34.800692 23.8335167 35.6671561 22.4289598 37.067865 21.0244028 38.4685738 20.1555583 40.4037637 20.1555583 42.5414515 20.1555583 44.678903 21.0244028 46.6140928 22.4289598 48.0148017 23.8335167 49.4155105 25.7737861 50.2819747 27.9173466 50.2819747 30.0609072 50.2819747 32.0014135 49.4155105 33.4057335 48.0148017 34.8102905 46.6140928 35.679135 44.678903 35.679135 42.5414515 35.679135 40.4037637 34.8102905 38.4685738 33.4057335 37.067865M27.9173466 32.4564895C30.7096381 32.4564895 33.2377459 33.5854684 35.06784 35.4103122 36.8976972 37.2353924 38.0297777 39.7568101 38.0297777 42.5414515 38.0297777 45.3258565 36.8976972 47.8472743 35.06784 49.6723544 33.2377459 51.4971983 30.7096381 52.6261772 27.9173466 52.6261772 25.1250552 52.6261772 22.5969474 51.4971983 20.7668533 49.6723544 18.9369961 47.8472743 17.8049156 45.3258565 17.8049156 42.5414515 17.8049156 39.7568101 18.9369961 37.2353924 20.7668533 35.4103122 22.5969474 33.5854684 25.1250552 32.4564895 27.9173466 32.4564895M25.2814567 55.9996928L30.553284 55.9996928 30.553284 53.3206717 25.2814567 53.3206717zM7.47665953 55.9996928L12.7484869 55.9996928 12.7484869 53.3206717 7.47665953 53.3206717z')
                figcaption.s-direction__caption Центробежные компрессоры
          .col-12.col-sm-6.col-md-4.col-xl-2
            a.s-direction(href='/')
              figure.s-direction__figure
                .s-direction__cover
                  svg(xmlns='http://www.w3.org/2000/svg', width='78', height='56', viewbox='0 0 78 56')
                    g(fill='none', fill-rule='evenodd')
                      path(fill='#525762', d='M30.9872917 12.9838245C32.0025114 12.5410228 33.2883789 13.0944068 33.6584578 14.1588793 34.1839559 15.3861536 33.1859276 16.9579342 31.8626573 16.9390312 30.760087 17.0529215 29.7167571 16.0564996 29.7418472 14.9353181 29.6951517 14.0969722 30.2376089 13.3016304 30.9872917 12.9838245M31.0930186 19.5341941C32.1238034 19.1483376 33.355309 19.7636287 33.6847327 20.826211 34.1530812 22.0534852 33.1515681 23.5210633 31.870347 23.5432743 30.7896143 23.6316456 29.7446582 22.6798819 29.7418704 21.5712236 29.6779836 20.6823122 30.2687625 19.8156118 31.0930186 19.5341941M19.0239386 12.3866329C16.0563378 12.3866329 13.6416483 14.8423629 13.6416483 17.860692 13.6416483 20.8790211 16.0563378 23.3345148 19.0239386 23.3345148 21.9915395 23.3345148 24.4059967 20.8790211 24.4059967 17.860692 24.4059967 14.8423629 21.9915395 12.3866329 19.0239386 12.3866329M19.0239386 26.0137722C14.6038999 26.0137722 11.0076527 22.3562869 11.0076527 17.860692 11.0076527 13.365097 14.6038999 9.70737553 19.0239386 9.70737553 23.4439774 9.70737553 27.0399923 13.365097 27.0399923 17.860692 27.0399923 22.3562869 23.4439774 26.0137722 19.0239386 26.0137722')
                      path(fill='#525762', d='M19.6319553,16.2938025 C20.2647833,16.026562 20.9817096,16.8141063 20.6269635,17.4246717 C20.2694296,17.9416675 19.7827282,18.3528068 19.3427223,18.7941907 C18.9742695,19.1767392 18.2480506,19.0344945 18.062895,18.5252962 C17.8159434,18.114157 18.1281757,17.676081 18.4206612,17.3974987 C18.8153656,17.0244017 19.1499002,16.559389 19.6319553,16.2938025')
                      path(fill='#525762', d='M13.7115288,8.628773 C11.0301409,8.628773 8.84869635,10.8472709 8.84869635,13.5744945 L8.84869635,23.3026633 C8.84869635,26.0296506 11.0301409,28.2481485 13.7115288,28.2481485 L32.0707425,28.2481485 C34.7518981,28.2481485 36.9333427,26.0296506 36.9333427,23.3026633 L36.9333427,13.5744945 C36.9333427,10.8472709 34.7518981,8.628773 32.0707425,8.628773 L13.7115288,8.628773 Z M32.0707425,30.9274059 L13.7115288,30.9274059 C9.57770305,30.9274059 6.21470082,27.5069165 6.21470082,23.3026633 L6.21470082,13.5744945 C6.21470082,9.37000506 9.57770305,5.94951561 13.7115288,5.94951561 L32.0707425,5.94951561 C36.204336,5.94951561 39.5673382,9.37000506 39.5673382,13.5744945 L39.5673382,23.3026633 C39.5673382,27.5069165 36.204336,30.9274059 32.0707425,30.9274059 L32.0707425,30.9274059 Z')
                      path(fill='#525762', d='M57.3687386,2.6790211 L4.3043455,2.6790211 C3.84645123,2.6790211 3.4289799,2.87064979 3.12580789,3.17924051 C2.82240357,3.48759494 2.63422785,3.91220253 2.63422785,4.37792405 L2.63422785,51.6216034 C2.63422785,52.0875612 2.82240357,52.5116962 3.12580789,52.8202869 C3.4289799,53.1291139 3.84645123,53.3205063 4.3043455,53.3205063 L57.3687386,53.3205063 C57.8266329,53.3205063 58.2441042,53.1291139 58.5472762,52.8202869 C58.8506806,52.5116962 59.0388563,52.0875612 59.0388563,51.6216034 L59.0388563,4.37792405 C59.0388563,3.91220253 58.8506806,3.48783122 58.5472762,3.17924051 C58.2441042,2.87064979 57.8266329,2.6790211 57.3687386,2.6790211 M4.3043455,2.84217094e-14 L57.3687386,2.84217094e-14 C58.5540134,2.84217094e-14 59.6303321,0.492185654 60.4097513,1.28492827 C61.1891705,2.07767089 61.6730841,3.17238819 61.6730841,4.37792405 L61.6730841,39.6052321 C61.806898,39.6071224 61.9404795,39.6092489 62.0728995,39.6068861 C63.814338,39.6073586 65.5557766,39.6080675 67.2974475,39.6083038 L67.2969829,38.6863122 C67.2944274,38.6213333 67.2951243,38.5563544 67.2986091,38.4916118 L67.2983768,32.8533333 L70.4913239,32.8533333 L70.5470797,32.8533333 L73.7397945,32.8533333 L73.7395622,38.4916118 C73.7432792,38.5563544 73.7439762,38.6213333 73.7414207,38.6863122 L73.7409561,39.6075949 C74.8281936,39.6071224 75.9156634,39.6064135 77.0031333,39.6052321 C77.0602829,39.6047595 77.1178972,39.6054684 77.1757439,39.6083038 L77.1757439,42.9120675 L73.7397945,42.9120675 L73.7395622,44.2151899 L73.7395622,44.3673586 L73.7395622,44.4859747 L73.7395622,44.6376709 C73.7397945,46.4807089 73.7402591,48.3237468 73.7414207,50.1667848 C73.7439762,50.2317637 73.7432792,50.2967426 73.7395622,50.3614852 L73.7397945,55.9995274 L70.5470797,55.9995274 L70.4913239,55.9995274 L67.2983768,55.9995274 L67.2986091,50.3614852 C67.2951243,50.2967426 67.2944274,50.2317637 67.2969829,50.1667848 C67.2979121,48.3237468 67.2983768,46.4807089 67.2986091,44.6376709 L67.2986091,44.4859747 L67.2986091,44.3673586 L67.2986091,44.2151899 L67.2983768,42.9118312 C65.4233567,42.9118312 63.5483366,42.9123038 61.6730841,42.9134852 L61.6730841,51.6216034 C61.6730841,52.826903 61.1891705,53.9218565 60.4097513,54.7148354 C59.6303321,55.5075781 58.5540134,55.9995274 57.3687386,55.9995274 L4.3043455,55.9995274 C3.11930305,55.9995274 2.04275205,55.5075781 1.26333284,54.7148354 C0.483913626,53.9218565 0,52.826903 0,51.6216034 L0,4.37792405 C0,3.17262447 0.483913626,2.07767089 1.26333284,1.28492827 C2.04275205,0.492185654 3.11930305,2.84217094e-14 4.3043455,2.84217094e-14')
                      path(fill='#CE422C', d='M21.0498943 34.4852253C21.5772509 34.2969046 22.143172 34.3633013 22.6919017 34.3538498 27.6676396 34.3555038 32.6447714 34.3571578 37.6219032 34.3524321 38.0914133 34.34747 38.5939121 34.4410397 38.9465674 34.7824743 39.6058794 35.3469637 39.6618675 36.4842127 39.0694624 37.1167527 38.7523515 37.4851241 38.2719226 37.6781705 37.7945138 37.6592675 32.4486969 37.6592675 27.1033448 37.6576135 21.7575279 37.6606852 21.2396962 37.6845502 20.7158243 37.4600776 20.3954609 37.0423224 19.7470678 36.2406008 20.0704512 34.8488709 21.0498943 34.4852253M21.0498943 39.738238C21.5772509 39.5499173 22.143172 39.6163139 22.6919017 39.6068624 27.6676396 39.6085165 32.6447714 39.6101705 37.6219032 39.6054447 38.0914133 39.600719 38.5939121 39.6940523 38.9465674 40.0354869 39.6058794 40.5999764 39.6618675 41.7372253 39.0694624 42.3697654 38.7523515 42.7381367 38.2719226 42.9311831 37.7945138 42.9122802 32.4486969 42.9122802 27.1033448 42.9106262 21.7575279 42.9136979 21.2396962 42.9375629 20.7158243 42.712854 20.3954609 42.295335 19.7470678 41.4936135 20.0704512 40.1018835 21.0498943 39.738238M21.0498943 44.991227C21.5772509 44.8029063 22.143172 44.869303 22.6919017 44.8598515 27.6676396 44.8615055 32.6447714 44.8631595 37.6219032 44.8584338 38.0914133 44.853708 38.5939121 44.9470414 38.9465674 45.2884759 39.6058794 45.8529654 39.6618675 46.9902143 39.0694624 47.6227544 38.7523515 47.9911257 38.2719226 48.1841722 37.7945138 48.1652692 32.4486969 48.1652692 27.1033448 48.1636152 21.7575279 48.1666869 21.2396962 48.1905519 20.7158243 47.9660793 20.3954609 47.5483241 19.7470678 46.7466025 20.0704512 45.3548726 21.0498943 44.991227')
                figcaption.s-direction__caption Винтовые компрессоры
          .col-12.col-sm-6.col-md-4.col-xl-2
            a.s-direction(href='/')
              figure.s-direction__figure
                .s-direction__cover
                  svg(xmlns='http://www.w3.org/2000/svg', width='55', height='65', viewbox='0 0 55 65')
                    g(fill='none')
                      path(fill='#525762', d='M54.8208253,27.5778926 C54.8188192,13.2635161 43.9463002,1.33031939 29.7899424,0.105100867 C15.6335845,-1.12011766 2.90011655,8.77000461 0.474753584,22.8742948 C-1.95060938,36.9785849 6.73852125,50.6076258 20.4790058,54.2512855 L20.4790058,57.1614501 L19.9812983,57.1614501 C18.3327865,57.1632629 16.9968525,58.5091517 16.9950531,60.1699475 L16.9950531,63.1784448 C16.9950531,63.7322939 17.4407156,64.1812773 17.9904681,64.1812773 C18.5402207,64.1812773 18.9858832,63.7322939 18.9858832,63.1784448 L18.9858832,60.1699475 C18.9865988,59.6163973 19.4318424,59.167836 19.9812983,59.167115 L34.9125241,59.167115 C35.46198,59.167836 35.9072235,59.6163973 35.9079392,60.1699475 L35.9079392,63.1784448 C35.9079392,63.7322939 36.3536017,64.1812773 36.9033542,64.1812773 C37.4531068,64.1812773 37.8987693,63.7322939 37.8987693,63.1784448 L37.8987693,60.1699475 C37.8969699,58.5091517 36.5610359,57.1632629 34.9125241,57.1614501 L34.4148166,57.1614501 L34.4148166,54.2512855 C46.4393029,51.0592442 54.8192933,40.1054718 54.8208253,27.5778926 Z M32.4239865,57.1614501 L22.4698359,57.1614501 L22.4698359,54.6925919 C25.7595717,55.310181 29.1342507,55.310181 32.4239865,54.6925919 L32.4239865,57.1614501 Z M27.4469112,52.0845465 C13.428221,52.0845465 3.12151953,41.701044 3.12151953,27.5778926 C3.12151953,13.4547412 13.428221,3.07123869 27.4469112,3.07123869 C41.4656014,3.07123869 51.7723029,13.4547412 51.7723029,27.5778926 C51.7564576,41.6944264 41.4590328,52.0685832 27.4469112,52.0845465 Z')
                      path(fill='#525762', d='M12.5968564 41.1866449C12.3577681 40.920298 11.9955588 40.8030862 11.6472362 40.8793456 11.2989137 40.9556051 11.0176589 41.2136927 10.9098583 41.5559852 10.8020576 41.8982778 10.8841697 42.272515 11.1251353 42.5371393 11.3574652 42.7941987 11.5969222 43.0471916 11.8435064 43.296118 12.0944577 43.5513465 12.461732 43.6518808 12.8063819 43.5596869 13.1510319 43.4674929 13.4204266 43.1966495 13.5126487 42.8496221 13.6048708 42.5025946 13.5058371 42.1323773 13.2530141 41.8790305 13.027974 41.6523135 12.8092548 41.4215183 12.5968564 41.1866449zM23.5590589 7.71662071C23.620696 7.71667908 23.6822041 7.71094139 23.7427826 7.69948186 24.3459594 7.58636737 24.9632362 7.4992112 25.5785669 7.441428 25.933241 7.40877679 26.2435724 7.18770451 26.3923537 6.86170682 26.541135 6.53570912 26.5056915 6.1544689 26.2994097 5.8619748 26.0931279 5.56948071 25.7474457 5.41030959 25.392922 5.44457798 24.7182944 5.50825784 24.0397797 5.60323109 23.377306 5.72809376 22.872082 5.82319219 22.5218017 6.29017631 22.5689357 6.80579091 22.6160697 7.3214055 23.0451174 7.71608303 23.5590838 7.71662071L23.5590589 7.71662071zM46.1556576 20.2314579C46.3777795 20.8073043 46.5765688 21.4027361 46.7466853 22.0011062 46.8981365 22.5331855 47.448875 22.8410069 47.9771347 22.6888349 48.5053944 22.5366628 48.8113609 21.9820564 48.6607191 21.4497439 48.4740788 20.7921265 48.2553612 20.1379337 48.0113651 19.5047955 47.8825194 19.1708342 47.5866128 18.9314918 47.2351102 18.8769263 46.8836077 18.8223607 46.5299109 18.9608618 46.307254 19.2402575 46.0845971 19.5196532 46.0268069 19.8974967 46.1556526 20.2314579L46.1556576 20.2314579zM44.4997149 16.8992963C44.7910395 17.3678434 45.40384 17.5104247 45.8696045 17.2180306 46.335369 16.9256366 46.4783346 16.3086064 46.1891981 15.8386857 45.8319586 15.2608837 45.4431345 14.6918916 45.0333868 14.1488528 44.7010614 13.7077744 44.0767384 13.6216201 43.6389223 13.9564218 43.2011063 14.2912236 43.1155892 14.9201988 43.4479146 15.3612773 43.8202247 15.8558191 44.1745527 16.373396 44.4997149 16.8992963zM37.258165 7.66030621C36.6510962 7.35720511 36.0236164 7.07956593 35.3941905 6.83473442 34.8815459 6.63674676 34.3065725 6.89426071 34.1090182 7.41032598 33.9114639 7.92639125 34.1659157 8.50616602 34.6777654 8.70623038 35.250811 8.92853828 35.8214227 9.18120693 36.3735695 9.45735189 36.8661478 9.70344642 37.4634848 9.50065634 37.7077591 9.00440757 37.9520334 8.5081588 37.7507433 7.90637065 37.258165 7.66027613L37.258165 7.66030621zM47.4324914 25.6662432C47.4898422 26.2817517 47.5199784 26.9094997 47.5219245 27.5318626 47.523562 28.0845512 47.9687364 28.5317567 48.5173395 28.5317567L48.5202561 28.5317567C49.069997 28.5301059 49.5143375 28.0798235 49.5127588 27.525986 49.5108085 26.843393 49.4777608 26.1544371 49.4145718 25.4782021 49.3630325 24.9267872 48.8775478 24.5218693 48.3302115 24.5737926 47.7828751 24.625716 47.3809521 25.1148183 47.4324914 25.6662332L47.4324914 25.6662432zM42.3528635 12.5422601C42.5305252 12.3455246 42.6233219 12.0857371 42.6108337 11.8200636 42.5983456 11.5543902 42.4815958 11.3045999 42.2862752 11.125659 41.7861388 10.6673344 41.2587829 10.2271211 40.7192729 9.81629571 40.4353612 9.60041914 40.058699 9.55353471 39.7311714 9.69330333 39.4036438 9.83307195 39.1750099 10.1382594 39.131394 10.4939046 39.0877781 10.8495498 39.2358064 11.2016217 39.5197181 11.4174982 40.0115925 11.7911135 40.4913179 12.1921462 40.9467402 12.6093646 41.142027 12.7883364 41.3998899 12.8818153 41.6635938 12.8692343 41.9272978 12.8566533 42.1752383 12.7390431 42.3528635 12.5422801L42.3528635 12.5422601zM29.2807494 7.43850976C29.8941341 7.4948188 30.5118937 7.58051083 31.1160459 7.69313393 31.1761809 7.70419136 31.2371831 7.70978095 31.2983114 7.70978095 31.8126678 7.70931515 32.2419772 7.31415233 32.2887602 6.79811088 32.3355433 6.28206942 31.9843932 5.81509369 31.4786309 5.72076305 30.8141913 5.59687814 30.1356965 5.5028626 29.4615566 5.44067696 28.9139508 5.39037639 28.4295536 5.79682982 28.3796251 6.34851611 28.3296965 6.90020241 28.7331437 7.38820918 29.2807494 7.43850976L29.2807494 7.43850976zM48.3486814 30.4414506C48.0889963 30.3929491 47.8208307 30.4506572 47.6034784 30.6018153 47.3861261 30.7529734 47.2374923 30.9851291 47.1904413 31.2469507 47.079139 31.857074 46.938671 32.4686614 46.7724466 33.0645845 46.6760715 33.4094795 46.7696556 33.7799742 47.0179467 34.0365069 47.2662377 34.2930396 47.6315144 34.3966368 47.9761805 34.3082745 48.3208466 34.2199122 48.5925392 33.9530147 48.6889142 33.6081197 48.8716675 32.9524578 49.0262256 32.2796625 49.1482236 31.6083314 49.1959175 31.3467626 49.1384546 31.0768213 48.9884902 30.8579578 48.8385257 30.6390943 48.6083593 30.4892589 48.3486814 30.4414506L48.3486814 30.4414506zM7.37287343 27.5651616C7.37287343 26.9467149 7.40155134 26.3194582 7.4584194 25.7010114 7.50796265 25.1502891 7.10559995 24.6631173 6.55905346 24.6120791 6.01250698 24.5610409 5.52811691 24.965405 5.47633898 25.5159186 5.41362784 26.1955733 5.38204829 26.8850206 5.38204829 27.5651616 5.38204829 28.1190107 5.82771079 28.5679941 6.37746335 28.5679941 6.92721591 28.5679941 7.37287841 28.1190107 7.37287841 27.5651616L7.37287343 27.5651616zM8.13206654 33.0983699C7.9643839 32.501469 7.82294537 31.890368 7.71115528 31.2807361 7.64732831 30.9276555 7.40108682 30.6358505 7.0654585 30.5155621 6.72983019 30.3952737 6.35598273 30.4648403 6.08515213 30.6979804 5.81432154 30.9311204 5.68779687 31.2922909 5.75337793 31.6450451 5.87634653 32.3153935 6.03188013 32.9877024 6.21609164 33.6438556 6.33737538 34.0755619 6.72825052 34.3737945 7.17359631 34.3744191 7.265303 34.3741692 7.35654743 34.3613198 7.4448071 34.3362262 7.69889159 34.263911 7.91404942 34.0928606 8.04293884 33.8607116 8.17182826 33.6285626 8.20388896 33.3543358 8.13206654 33.0983699zM18.0444196 9.57881496C18.1982842 9.57881496 18.3500422 9.54277995 18.4876929 9.47351755 19.0383814 9.19685613 19.6085303 8.94272334 20.1815509 8.71943267 20.6907338 8.51723732 20.9423731 7.93883113 20.7448795 7.42459261 20.5473858 6.91035408 19.9748516 6.65320711 19.4631847 6.84893453 18.8323006 7.0947438 18.2053086 7.37385715 17.5992103 7.67842739 17.1856845 7.88614023 16.968404 8.35323021 17.0745479 8.80629875 17.1806919 9.2593673 17.5823509 9.57928428 18.0444246 9.57881496L18.0444196 9.57881496zM46.2431496 39.2299433C46.5974726 38.6511586 46.9299262 38.0474033 47.2307905 37.4343467 47.3884615 37.1131563 47.3640699 36.7316208 47.1668037 36.433461 46.9695376 36.1353011 46.6293662 35.9658145 46.274429 35.9888452 45.9194918 36.0118758 45.6037121 36.2239247 45.4460411 36.5451151 45.1728843 37.1018626 44.8710545 37.650778 44.5488088 38.176187 44.2599744 38.6475541 44.40512 39.265564 44.8730006 39.5565507 45.3408812 39.8475375 45.95432 39.7013104 46.2431546 39.2299433L46.2431496 39.2299433zM9.46333962 36.576945C9.30584341 36.2545869 8.98921967 36.0417295 8.63330349 36.0189346 8.2773873 35.9961396 7.9365572 36.1668899 7.73980983 36.4665602 7.54306247 36.7662305 7.52045782 37.1490358 7.68055125 37.4700927 7.98238598 38.0816851 8.31581021 38.684949 8.67062093 39.2637338 8.85753084 39.5690977 9.19208356 39.7506525 9.5480244 39.7398824 9.90396524 39.7291122 10.2270996 39.527657 10.3954818 39.2115425 10.563864 38.895428 10.5518567 38.5127851 10.3639912 38.2080169 10.040755 37.6826029 9.73795472 37.1336925 9.46333962 36.576945zM6.90724315 22.7253217C7.16120336 22.7986246 7.43369026 22.766932 7.66439054 22.6372589 7.89509081 22.5075858 8.0649772 22.2906271 8.13644637 22.0344052 8.30510452 21.4370129 8.5024356 20.8415812 8.72455749 20.2652483 8.92319821 19.748719 8.66859568 19.1677592 8.15588682 18.9676383 7.64317797 18.7675174 7.0665152 19.0240171 6.86787449 19.5405464 6.62388333 20.1746625 6.40661906 20.829833 6.22143702 21.486964 6.14936687 21.7428019 6.18113402 22.0170049 6.30974931 22.249245 6.43836461 22.4814852 6.65329134 22.6527365 6.90724315 22.7253217L6.90724315 22.7253217zM13.2481515 12.8972779C13.4964758 12.8975356 13.7358501 12.8038683 13.9188921 12.6348065 14.3762604 12.2141834 14.855498 11.812173 15.3429976 11.4400269 15.6265599 11.2238001 15.7740798 10.8715924 15.7299882 10.516077 15.6858965 10.1605615 15.4568917 9.85574965 15.1292378 9.71646098 14.8015838 9.57717231 14.425059 9.62456814 14.1414967 9.84079491 13.6049083 10.2501561 13.0785229 10.6918336 12.5764405 11.1540742 12.2731163 11.4332568 12.1712122 11.8715019 12.3198959 12.257361 12.4685795 12.6432201 12.8372991 12.8974064 13.2481515 12.8972779L13.2481515 12.8972779zM9.004513 17.2528299C9.22880341 17.3931135 9.49922745 17.4378753 9.75628052 17.3772659 10.0133336 17.3166564 10.2359536 17.1556419 10.3751547 16.9296521 10.6978882 16.4057122 11.0507529 15.8881354 11.4235508 15.391618 11.6381773 15.1059409 11.6852208 14.7266093 11.5469604 14.3965137 11.4087 14.066418 11.1061407 13.8357078 10.7532538 13.7912892 10.4003668 13.7468707 10.050764 13.895492 9.83613749 14.1811691 9.42591699 14.7271462 9.03854126 15.2961333 8.68373054 15.8719797 8.54443489 16.0979269 8.4999752 16.3703808 8.56013885 16.6293631 8.6203025 16.8883455 8.78015742 17.1126255 9.004513 17.2528299L9.004513 17.2528299zM42.2969659 41.1866449C42.085052 41.4211941 41.8663328 41.6519893 41.6408082 41.8790305 41.254842 42.2715751 41.2566544 42.904657 41.6448619 43.2949521 42.0330693 43.6852471 42.661471 43.6857685 43.050316 43.296118 43.2967409 43.0468774 43.536198 42.7938845 43.7686871 42.5371393 44.0096527 42.272515 44.0917648 41.8982778 43.9839641 41.5559852 43.8761635 41.2136927 43.5949087 40.9556051 43.2465862 40.8793456 42.8982636 40.8030862 42.5360543 40.920298 42.2969659 41.1866449L42.2969659 41.1866449z')
                      path(fill='#CE422C', d='M17.9462369,37.1493618 C14.996131,34.1782502 14.6410964,29.9950625 15.180486,25.8278665 C15.7198756,21.6606704 18.1501726,19.0479271 21.7579092,16.9383407 L20.571231,13.6693385 C16.1283029,15.8971429 13.0209306,20.1427497 12.2217163,25.0772915 C11.4225019,30.0118333 13.0291027,35.0323513 16.5386553,38.5674321 C16.927563,38.957748 17.5567241,38.9571449 17.9448939,38.5660841 C18.3330636,38.1750233 18.3336645,37.5411739 17.9462369,37.1493668 L17.9462369,37.1493618 Z')
                      path(fill='#525762', d='M27.4469112,35.6005664 C31.3604343,35.6018381 34.6944458,32.7372151 35.3108681,28.8437454 C35.9272904,24.9502758 33.6432725,21.1828895 29.9235387,19.9575844 L33.1005552,24.9097114 C33.4166535,25.4044889 33.5006258,26.0143321 33.3301477,26.5771109 C33.8339539,29.5696562 32.0447371,32.4711976 29.1585775,33.3420728 C26.2724179,34.2129479 23.1945804,32.7800005 21.9825802,30.001147 C21.6689046,29.6609128 21.4822489,29.2214919 21.4545125,28.7579807 L21.1027677,22.7490337 C19.2746405,25.1734614 18.9694041,28.4326036 20.3151539,31.1587287 C21.6609038,33.8848538 24.4247865,35.6062639 27.4469112,35.6005664 Z')
                      path(fill='#000', d='M23.0842857,13.4029193 C22.9456562,13.4004722 22.8123212,13.4565977 22.7166862,13.557737 C22.6210512,13.6588762 22.5718729,13.7957687 22.5811034,13.9351442 L23.4417094,28.6400376 L27.3918399,30.4931717 C28.1048799,30.8281621 28.953589,30.5478749 29.3314061,29.8526275 L31.4285714,25.9984816 L23.4959645,13.6334471 C23.4078954,13.48969 23.251968,13.4024063 23.0842857,13.4029193 Z M29.1123053,26.0829151 L27.80974,28.4767614 L25.3591426,27.3271193 L24.9022471,19.5204948 L29.1123053,26.0829151 Z')
                      path(fill='#525762', d='M36.4056467 44.6260444L18.4881757 44.6260444C17.9384231 44.6260444 17.4927606 45.0750278 17.4927606 45.6288768 17.4927606 46.1827259 17.9384231 46.6317093 18.4881757 46.6317093L36.4056467 46.6317093C36.9553993 46.6317093 37.4010618 46.1827259 37.4010618 45.6288768 37.4010618 45.0750278 36.9553993 44.6260444 36.4056467 44.6260444zM22.4698359 40.6147145C21.9200834 40.6147145 21.4744208 41.0636979 21.4744208 41.617547 21.4744208 42.1713961 21.9200834 42.6203795 22.4698359 42.6203795L32.4239865 42.6203795C32.973739 42.6203795 33.4194015 42.1713961 33.4194015 41.617547 33.4194015 41.0636979 32.973739 40.6147145 32.4239865 40.6147145L22.4698359 40.6147145z')
                figcaption.s-direction__caption Подготовка воздуха
          .col-12.col-sm-6.col-md-4.col-xl-2
            a.s-direction(href='/')
              figure.s-direction__figure
                .s-direction__cover
                  svg(xmlns='http://www.w3.org/2000/svg', width='71', height='60', viewbox='0 0 71 60')
                    g(fill='none', fill-rule='evenodd')
                      path(fill='#525762', d='M18.1093404,57.6883784 L45.6129311,57.6883784 C45.5133301,57.4539382 45.4393147,57.2049035 45.3959106,56.9394208 C45.3059041,56.3864479 45.3936261,55.9194208 45.5642728,55.4139382 L45.5377735,55.3516216 L18.1093404,55.3516216 C17.4818082,55.3516216 16.9107014,55.0905405 16.4960779,54.6700772 C16.0812259,54.2491506 15.8237709,53.67 15.8237709,53.033861 L15.8237709,20.4214286 L26.826258,8.68621622 L49.1362033,8.94776062 C49.7635071,8.94776062 50.3348423,9.20861004 50.7496943,9.62930502 C51.1643179,10.05 51.4220013,10.6293822 51.4220013,11.2655212 L51.4220013,24.3559459 C52.182944,24.1842857 52.9523391,24.0527027 53.7263031,23.9507722 L53.7263031,11.2655212 C53.7263031,9.98420849 53.210251,8.82011583 52.3789479,7.97733591 C51.5476448,7.13409266 50.3997201,6.61100386 49.1362033,6.61100386 L25.4846139,6.61100386 L13.5272362,18.7367954 L15.8237709,20.4214286 L13.5194691,18.7286873 L13.5194691,53.033861 C13.5194691,54.3151737 14.0352928,55.4792664 14.8668243,56.322278 C15.697899,57.1652896 16.8458237,57.6883784 18.1093404,57.6883784')
                      path(fill='#525762', d='M23.1314482,49.1966178 L44.1646271,49.1966178 L44.1646271,27.5579305 L23.1314482,27.5579305 L23.1314482,49.1966178 Z M22.2674778,25.8054208 L45.8927963,25.8054208 L45.8927963,50.9488958 L21.403279,50.9488958 L21.403279,25.8054208 L22.2674778,25.8054208 Z')
                      path(fill='#CE422C', d='M39.0535637,38.1719073 L39.1282645,38.2749961 L39.141971,38.2970039 C39.4679588,38.7786255 39.7247284,39.3061158 39.8969743,39.8646486 C40.0641943,40.4065019 40.1539723,40.9782394 40.1539723,41.5671197 C40.1539723,43.2450347 39.4238694,44.7617143 38.2423636,45.8602471 C37.0613147,46.9578533 35.4306905,47.6354595 33.6289627,47.6354595 C31.826778,47.6354595 30.1922703,46.95739 29.0075663,45.8588571 C27.8240045,44.7607876 27.0916171,43.2445714 27.0916171,41.5671197 C27.0916171,41.0461158 27.1622059,40.5309035 27.3004138,40.0309807 C27.4402207,39.5254981 27.6451338,39.0508263 27.9112696,38.61739 L27.9140109,38.6190116 L33.6326178,29.1573127 L39.0535637,38.1719073 Z M37.692045,39.1789344 L37.5992973,39.0512896 L37.5620611,38.9945328 L33.6253076,32.448278 L29.4153366,39.4136062 L29.4153366,39.4200927 C29.2188758,39.7402471 29.0708449,40.0789344 28.9739852,40.4292046 C28.8762117,40.7831815 28.8261828,41.1649575 28.8261828,41.5671197 C28.8261828,42.8002471 29.361881,43.9115212 30.227222,44.7144556 C31.0957613,45.5199382 32.2987407,46.0168494 33.6289627,46.0168494 C34.9575856,46.0168494 36.1571384,45.5206332 37.0227079,44.7158456 C37.8859929,43.9133745 38.4194067,42.8011737 38.4194067,41.5671197 C38.4194067,41.1292819 38.3533867,40.7058069 38.2302561,40.3071197 C38.1050695,39.9017143 37.9227722,39.5220232 37.6927304,39.178471 L37.692045,39.1789344 Z')
                      path(fill='#525762', d='M16.1283079 19.0644556L22.8851869 26.0724093 21.6495402 27.2909421 14.8928896 20.2829884zM53.5430692 19.1271197L45.6430627 27.2943012 44.4144977 26.0690502 52.3145042 17.9016371zM46.183147 52.5198996L44.4111168 50.6819073 45.6465351 49.4636062 46.1820048 50.0188958zM15.8728861 55.4550347L21.6497458 49.4636062 22.8851641 50.6819073 17.1083044 56.6735676zM21.1433568 5.38123552L18.2802841 2.47783784 11.1355093 9.7234749 13.9983536 12.6266409 21.1433568 5.38123552zM18.8913684.619227799L23.5870087 5.38123552 13.9983536 15.1047104 8.69185746 9.7234749 18.2805125 1.13686838e-13 18.8913684.619227799z')
                      path(fill='#525762', d='M21.1405698 6.62302703L24.5286039 10.0587799 18.6110235 16.0594749 14.6121335 12.0042625 20.529714 6.00356757 21.1405698 6.62302703zM22.0849521 10.0587799L20.529714 8.48163707 17.0557854 12.0042625 18.6110235 13.5814054 22.0849521 10.0587799zM58.016092 27.1545869L58.016092 27.1545869C56.9901557 27.161305 55.9676461 27.2576757 54.9492484 27.3816139 53.8392452 27.5646255 52.6958893 27.7355907 51.685944 28.2670193 51.4040457 28.4321931 51.041964 28.6893359 51.1146088 29.0699537 51.2528166 29.4538147 51.6471088 29.6384479 51.9868031 29.8008417 53.05226 30.2521158 54.2045251 30.4314208 55.3419414 30.5829266 57.4879324 30.8287181 59.6576815 30.8405328 61.8077844 30.6577529 63.0907188 30.5210734 64.3850753 30.3533514 65.6035888 29.9050888 65.9615586 29.7633127 66.3309505 29.5997606 66.593888 29.3064788 66.7492291 29.141305 66.7889781 28.8579846 66.6400335 28.6768263 66.3798372 28.327251 65.9631577 28.1597606 65.5764041 28.002 64.6338494 27.6533514 63.6369254 27.4907259 62.6468546 27.3524247 61.1117194 27.1587568 59.561964 27.1177529 58.016092 27.1545869M53.7983539 29.659529C53.7962979 29.4070193 53.7944704 29.1545097 53.7919575 28.902 53.8029228 28.6847027 53.806121 28.4671737 53.806121 28.2496448 53.5210245 28.3196062 53.2400399 28.4055521 52.9659086 28.5146641 52.7212465 28.6112664 52.3664749 28.8213822 52.5480869 29.1378301 52.90263 29.4352819 53.3535759 29.5559768 53.7983539 29.659529M64.1317323 28.2748958C64.1280772 28.7298764 64.1241937 29.1848571 64.1200817 29.6368263 64.2418417 29.6067104 64.3629163 29.5747413 64.4837625 29.5397606 64.8202587 29.4248571 65.1942194 29.3036988 65.3865682 28.9731197 65.3011306 28.8570579 65.2401364 28.7106486 65.1067259 28.6425405 64.8010695 28.469027 64.4702844 28.3585251 64.1317323 28.2748958M61.121314 27.8613822C61.1217709 28.590417 61.1217709 29.3192201 61.1217709 30.0484865 61.7036145 30.0063243 62.2859151 29.9565174 62.8631898 29.8754363L62.8625045 28.0416139C62.284316 27.9633127 61.7036145 27.9005328 61.121314 27.8613822M58.0994736 27.8129653L58.0992452 30.1098764C58.6778906 30.1219228 59.2572214 30.1198378 59.8356384 30.1098764 59.8351815 29.3456293 59.834953 28.5811506 59.8347246 27.8164402 59.2569929 27.8136602 58.6778906 27.8069421 58.0994736 27.8129653M55.8011113 27.9436216C55.5580483 27.9691042 55.313843 27.9952819 55.0700946 28.0263243 55.0696377 28.6464788 55.0694093 29.2670965 55.0691808 29.887251 55.6482831 29.9669421 56.2301268 30.0216139 56.8135695 30.0579846L56.8133411 27.8544324C56.4754743 27.8743552 56.1378359 27.9030811 55.8011113 27.9436216M50.7616647 32.3701853C50.756639 36.8231583 50.7641776 52.2579846 50.7575528 56.7114208L52.0354614 57.0593745 52.0370605 32.7315753C51.6098726 32.6175985 51.1790296 32.5170579 50.7616647 32.3701853M53.7729968 33.0887954L53.8093192 57.4073282 55.0732928 57.5592973 55.072379 33.232888C54.6394801 33.185166 54.2095508 33.1061699 53.7729968 33.0887954M56.8133411 33.3762857C56.8133411 37.8239305 56.8140264 53.2520386 56.8124273 57.6999151L58.1003874 57.7585251 58.0994736 33.4457838C57.6731995 33.3827722 57.2414427 33.4003784 56.8133411 33.3762857M59.8347246 33.4441622L59.8413494 57.7585373C60.2685373 57.7594517 60.6934408 57.7073282 61.1208571 57.7008417L61.1199434 33.3679459C60.6918417 33.4080232 60.2593996 33.3709575 59.8347246 33.4441622M62.8609054 33.2254749L62.8615907 57.5500309C63.2924337 57.4953591 63.7305869 57.4668649 64.1536628 57.3656293L64.1479517 33.0440849C63.7221345 33.1253977 63.2890071 33.1575985 62.8609054 33.2254749M65.8902844 32.7079459L65.8927973 57.0392201C66.3195283 56.932888 66.7451171 56.8214595 67.1633958 56.6838533L67.1608829 32.3484093C66.743518 32.4901853 66.316787 32.5983707 65.8902844 32.7079459M68.9397664 31.5871737L68.9340553 55.9337375C69.5010502 55.577444 70.1706158 55.1064788 70.2012272 54.3612278L70.20374 30.1346641C70.0870058 30.8187568 69.4944254 31.2621544 68.9397664 31.5871737M47.7338848 30.4826178L47.7437079 54.8036988C47.9808314 55.3594517 48.5199562 55.6930425 49.0117934 55.9948958L49.0099659 31.651112C48.504879 31.3703398 48.0025335 31.0163629 47.7338848 30.4826178M47.7676943 55.9360541C51.5820026 58.5561313 55.4881448 58.6029266 58.9049627 58.638139 61.8550721 58.6080232 66.2279228 58.5561313 70.042231 55.9360541 70.1215006 56.1575212 70.2060245 56.3896448 70.1669607 56.6294131 69.7626171 59.1049344 62.2877426 59.8300309 58.9049627 59.8902625 55.5221828 59.8300309 48.0470798 59.1049344 47.6427362 56.6294131 47.6039009 56.3896448 47.6884247 56.1575212 47.7676943 55.9360541M50.4071216 26.7169807C52.3776686 26.0514208 54.4526139 25.7655521 56.5181931 25.6221544 57.368 25.542695 58.2253456 25.590417 59.0758378 25.5148958 61.7472471 25.5980618 64.4488108 25.795668 67.0229035 26.5812278 68.0413012 26.9122703 71.0884987 28.3342008 69.9101911 29.7329653 69.3779196 30.3843938 68.5934472 30.7450888 67.8354743 31.0518069 65.9300335 31.7523475 63.9115135 32.0903398 61.8945927 32.2520386 60.3016615 32.3868649 58.6995927 32.4095676 57.1025495 32.3317297 55.0931673 32.2219228 53.0796731 31.9837761 51.1369961 31.4321931 50.1889588 31.147251 49.2333829 30.811112 48.4265232 30.2166718 48.0329163 29.9166718 47.6527876 29.5001467 47.6329131 28.973583 47.635426 28.4857066 47.9627844 28.0782162 48.3198404 27.7867876 48.9341229 27.2887181 49.6722214 26.9810734 50.4071216 26.7169807M8.76763192 24.7897992L2.3138964 24.7897992C2.11537967 24.7897992 1.93445302 24.8725019 1.80287001 25.0061699 1.67151544 25.1393745 1.58973295 25.3228494 1.58973295 25.5239305L1.58973295 55.3420772C1.58973295 55.5431583 1.67151544 55.7266332 1.80287001 55.8603012 1.93445302 55.9937375 2.11537967 56.0764402 2.3138964 56.0764402L8.76763192 56.0764402C8.96592021 56.0764402 9.14684685 55.9937375 9.27842986 55.8603012 9.41001287 55.7266332 9.49179537 55.5431583 9.49179537 55.3420772L9.49179537 25.5239305C9.49179537 25.3228494 9.41001287 25.1393745 9.27842986 25.0061699 9.14684685 24.8725019 8.96592021 24.7897992 8.76763192 24.7897992M2.3138964 23.1776757L8.76763192 23.1776757C9.40453024 23.1776757 9.98340412 23.4415367 10.4023681 23.8664015 10.821332 24.2912664 11.0812999 24.8780618 11.0812999 25.5239305L11.0812999 55.3420772C11.0812999 55.9881776 10.821332 56.5752046 10.4023681 57.0000695 9.98340412 57.4247027 9.40453024 57.688332 8.76763192 57.688332L2.3138964 57.688332C1.67654118 57.688332 1.09789575 57.4247027.678931789 57.0000695.259967825 56.5752046-1.13686838e-13 55.9881776-1.13686838e-13 55.3420772L-1.13686838e-13 25.5239305C-1.13686838e-13 24.8780618.259967825 24.2912664.678931789 23.8664015 1.09789575 23.4415367 1.67654118 23.1776757 2.3138964 23.1776757')
                      path(fill='#525762', d='M.7947751 30.553529L10.2865705 30.553529 10.2865705 28.9414054.7947751 28.9414054zM.7947751 55.2915985L10.2865705 55.2915985 10.2865705 53.6797066.7947751 53.6797066z')
                figcaption.s-direction__caption Масло и запасные части
          .col-12.col-sm-6.col-md-4.col-xl-2
            a.s-direction(href='/')
              figure.s-direction__figure
                .s-direction__cover
                  svg(xmlns='http://www.w3.org/2000/svg', width='45', height='60', viewbox='0 0 45 60')
                    g(fill='none', fill-rule='evenodd')
                      path(fill='#585D69', d='M13.6572816 7.78235294L5.35631068 7.78235294C5.27415803 7.78457852 5.19597703 7.81852594 5.13786408 7.87720588L5.11165049 7.90147059C5.06571495 7.95971987 5.04103169 8.03215889 5.04174757 8.10661765L5.04174757 10.2882353C5.04218864 10.6560031 4.81278626 10.9840286 4.46941748 11.1066176L1.72354369 12.2095588 1.72354369 24.3992647 2.62354369 25.6566176C2.65317201 25.5026827 2.72421695 25.359963 2.8288835 25.2441176L7.3157767 19.5661765 7.3157767 10.9477941C7.31577517 10.4686538 7.69978493 10.0798926 8.17427184 10.0786765L13.6572816 10.0786765 13.6572816 10.0345588C13.5758875 9.30156158 13.5758875 8.56167371 13.6572816 7.82867647L13.6572816 7.78455882 13.6572816 7.78235294zM5.35631068 6.04411692L14.6643204 6.04411692C14.723843 6.04411692 14.7831796 6.05082909 14.8412621 6.06397059 15.3032499 6.16520626 15.5965962 6.62533817 15.4966019 7.09191176 15.4332524 7.39632353 15.3851942 7.70073529 15.3524272 8.00294118 15.2912548 8.61904375 15.2912548 9.23977978 15.3524272 9.85588235 15.3828008 10.1440907 15.4280076 10.4305074 15.4878641 10.7139706 15.5079579 10.7895113 15.5182383 10.8673701 15.5184466 10.9455882 15.5184466 11.4255887 15.1331072 11.8147059 14.657767 11.8147059L9.03495146 11.8147059 9.03495146 19.8661765 9.03495146 19.8661765C9.03609482 20.0624668 8.9705579 20.2532193 8.84927184 20.4066176L4.32524272 26.1242647 4.32524272 28.3125 4.32524272 28.3125C4.32659061 28.5908843 4.19377475 28.8525378 3.96917476 29.0139706 3.78476141 29.1485685 3.55488076 29.2035155 3.33028276 29.1666812 3.10568477 29.1298469 2.90483968 29.0042604 2.77208738 28.8176471L.218446602 25.2375C.079369451 25.0810229.00168574764 24.878634 0 24.6683824L0 11.6161765C.000311836919 11.2599205.215894821 10.9399329.543932039 10.8088235L3.31820388 9.70588235 3.31820388 8.10661765C3.31976353 7.59050385 3.51309472 7.09377812 3.85995146 6.71470588 3.87838791 6.69156546 3.8980782 6.66947287 3.91893204 6.64852941 4.30062303 6.26120717 4.81956272 6.04365643 5.36067961 6.04411692L5.35631068 6.04411692zM14.6643204 53.7970596L5.36067961 53.7970596C4.81956272 53.79752 4.30062303 53.5799693 3.91893204 53.1926471 3.89758696 53.1729734 3.87786175 53.1515794 3.85995146 53.1286765 3.52389415 52.76054 3.33209049 52.2814267 3.32038835 51.7808824L.380097087 49.7647059C.14278708 49.6048288.000187420161 49.3358676 0 49.0477941L0 49.0477941 0 35.4882353C0 35.2986732.0613659654 35.1143076.174757282 34.9632353L2.74805825 31.0323529C2.95696889 30.7127221 3.34882076 30.5693869 3.71198274 30.6797597 4.07514473 30.7901324 4.32355742 31.1280579 4.32305825 31.5110294L4.32305825 31.5110294 4.32305825 33.6860294 8.82742718 39.0816176C8.95933845 39.237829 9.0314175 39.43662 9.03058252 39.6419118L9.03058252 39.6419118 9.03058252 48.0242647 14.6643204 48.0242647C15.1396606 48.0242647 15.525 48.4133819 15.525 48.8933824 15.5247917 48.9716005 15.5145113 49.0494592 15.4944175 49.125 15.434561 49.4084632 15.3893542 49.6948799 15.3589806 49.9830882 15.2978082 50.5991908 15.2978082 51.2199268 15.3589806 51.8360294 15.3917476 52.1382353 15.4398058 52.4426471 15.5031553 52.7470588 15.601872 53.2133976 15.3090627 53.6726872 14.8478155 53.775 14.789733 53.7881415 14.7303964 53.7947991 14.6708738 53.7948529L14.6643204 53.7970596zM5.36067961 52.0588235L13.6616505 52.0588235 13.6616505 52.0125C13.5800919 51.2795121 13.5800919 50.5396056 13.6616505 49.8066176L13.6616505 49.7602941 8.17427184 49.7602941C7.70013807 49.7602941 7.3157767 49.3721645 7.3157767 48.8933824L7.3157767 39.9573529 2.83980583 34.6036765C2.76001326 34.519111 2.69764234 34.4193889 2.65631068 34.3102941L1.71699029 35.7463235 1.71699029 48.5933824 4.58737864 50.5632353C4.85945515 50.7175717 5.02684508 51.0091501 5.02427184 51.3242647L5.02427184 51.7367647C5.02355596 51.8112235 5.04823923 51.8836625 5.09417476 51.9419118L5.12038835 51.9639706C5.18337009 52.0288286 5.27083618 52.0633551 5.36067961 52.0588235z')
                      path(fill='#585D69', d='M9.03276699,52.0588204 L12.1587379,52.0588204 C12.3894778,52.0581937 12.6107553,52.1513843 12.7726761,52.3173825 C12.9345969,52.4833808 13.0235282,52.7082105 13.0194175,52.9411765 L13.0194175,58.9852941 C13.0194175,59.4652945 12.6340781,59.8544118 12.1587379,59.8544118 L5.89805825,59.8544118 C5.42271803,59.8544118 5.03737864,59.4652945 5.03737864,58.9852941 L5.03737864,52.9411765 C5.03326791,52.7082105 5.12219918,52.4833808 5.28412,52.3173825 C5.44604082,52.1513843 5.66731831,52.0581937 5.89805825,52.0588204 L9.03276699,52.0588204 Z M11.3002427,53.7948529 L6.77184466,53.7948529 L6.77184466,58.1029412 L11.3002427,58.1029412 L11.3002427,53.7948529 Z')
                      path(fill='#D03726', d='M9.72087379,17.4816176 L15.975,17.4816176 C16.4503402,17.4816176 16.8356796,17.8707349 16.8356796,18.3507353 L16.8356796,41.4926471 C16.8308883,41.9691981 16.4469487,42.3529412 15.975,42.3529412 L9.72087379,42.3529412 C9.24553356,42.3529412 8.86019417,41.963824 8.86019417,41.4838235 L8.86019417,18.3507353 C8.86019417,17.8707349 9.24553356,17.4816176 9.72087379,17.4816176 L9.72087379,17.4816176 Z M15.1143204,19.2198529 L10.5793689,19.2198529 L10.5793689,40.6169118 L15.1143204,40.6169118 L15.1143204,19.2198529 Z')
                      path(fill='#D03726', d='M2.83980583 25.2397059L9.06553398 17.7904412C9.29828335 17.5127009 9.67801251 17.4112733 10.0163122 17.5364833 10.354612 17.6616934 10.5794899 17.9868956 10.579369 18.3507353L10.579369 18.3507353 10.579369 41.4926471C10.5784463 41.8675682 10.3395384 42.1996326 9.98671809 42.316388 9.63389783 42.4331433 9.24670168 42.3082695 9.02621359 42.0066176L2.8092233 34.5617647C2.67731203 34.4055534 2.60523299 34.2067623 2.60606079 34.0014706L2.60606079 34.0014706 2.60606079 25.8397059C2.60589277 25.615118 2.69203759 25.3992261 2.84635922 25.2375L2.83980583 25.2397059zM8.86019417 20.7352941L4.32524272 26.1573529 4.32524272 33.6860294 8.86019417 39.1169118 8.86019417 20.7352941zM34.2961165 19.2198529L29.7589806 19.2198529 29.7589806 40.6169118 34.2961165 40.6169118 34.2961165 19.2198529zM28.9004854 17.4816176L35.1567961 17.4816176C35.6291919 17.488721 36.0104414 17.8737081 36.0174757 18.3507353L36.0174757 41.4926471C36.0104414 41.9696742 35.6291919 42.3546614 35.1567961 42.3617647L28.898301 42.3617647C28.4259051 42.3546614 28.0446557 41.9696742 28.0376214 41.4926471L28.0376214 18.3507353C28.0446557 17.8737081 28.4259051 17.488721 28.898301 17.4816176L28.9004854 17.4816176z')
                      path(fill='#585D69', d='M30.211165 6.04411765L39.5148058 6.04411765C40.0544566 6.04458648 40.5716988 6.26208465 40.9521845 6.64852941L40.9521845 6.64852941C41.3352093 7.03342326 41.5506034 7.55654844 41.5507282 8.10220588L41.5507282 9.70588235 44.325 10.8088235C44.653436 10.9394295 44.8692303 11.2597308 44.8689323 11.6161765L44.8689323 24.6683824C44.868521 24.8768897 44.7950006 25.0785133 44.6614078 25.2375L42.1012136 28.8176471C41.8831108 29.1209512 41.4966717 29.2483553 41.1433522 29.133442 40.7900327 29.0185286 40.5498676 28.6873282 40.5480583 28.3125L40.5480583 28.3125 40.5480583 26.1375 36.0436893 20.7617647C35.9135937 20.604489 35.841766 20.4063912 35.840534 20.2014706L35.840534 20.2014706 35.840534 11.8191176 30.211165 11.8191176C29.9827207 11.8197054 29.7634651 11.7283266 29.6019301 11.5652079 29.440395 11.4020891 29.3499034 11.180684 29.3504826 10.95 29.3506937 10.8717818 29.3609741 10.7939231 29.381068 10.7183824 29.4402143 10.4348842 29.484692 10.1484665 29.5143204 9.86029412 29.6114356 8.93707206 29.5627716 8.00413425 29.3701456 7.09632353 29.2714289 6.62998477 29.5642383 6.17069514 30.0254854 6.06838235 30.0843067 6.05523767 30.1443673 6.04858101 30.2046117 6.04852941L30.211165 6.04411765zM39.5148058 7.78234511L31.213835 7.78234511 31.213835 7.82647059C31.2923249 8.5596288 31.2923249 9.29919472 31.213835 10.0323529L31.213835 10.0764706 36.6990291 10.0764706C37.1743694 10.0764706 37.5597087 10.4655878 37.5597087 10.9455882L37.5597087 19.8860294 42.0291262 25.2176471C42.1419939 25.3407457 42.2177707 25.4937849 42.2475728 25.6588235L43.1475728 24.4014706 43.1475728 12.2051471 40.3995146 11.1022059C40.0561458 10.9796168 39.8267434 10.6515913 39.8271845 10.2838235L39.8271845 8.10661765C39.828361 8.02064173 39.7952084 7.93780822 39.7352046 7.8768011 39.6752008 7.81579399 39.5933997 7.78175174 39.5082524 7.78234511L39.5148058 7.78234511zM22.4366505 41.9801396C26.6563354 41.9801396 30.2885083 44.9898396 31.1118708 49.1689903 31.9352332 53.348141 29.7204663 57.5326349 25.8220371 59.1633948 21.923608 60.7941548 17.4272877 59.4169897 15.0828545 55.8741213 12.7384212 52.3312529 13.198835 47.6094233 16.1825243 44.5963235 17.8394234 42.9186202 20.0902479 41.9770732 22.4366505 41.9801396zM27.4740291 45.825C25.0705441 43.3970722 21.3032976 43.0218087 18.4763536 44.9287223 15.6494096 46.8356358 14.5501863 50.4935738 15.8509735 53.6653259 17.1517607 56.8370779 20.4902363 58.6391827 23.8245747 57.9694652 27.158913 57.2997477 29.5603657 54.3447515 29.560202 50.9117647 29.5629892 49.003374 28.8121658 47.1726168 27.4740291 45.825z')
                      path(fill='#585D69', d='M22.4366505,1.73822992 C19.0382059,1.73849793 16.1131975,4.16288898 15.4504303,7.52875875 C14.7876631,10.8946285 16.5717251,14.2645446 19.7115634,15.5776162 C22.8514018,16.8906878 26.4725362,15.7812098 28.3604421,12.9276895 C30.248348,10.0741693 29.8772224,6.27134427 27.4740291,3.84485294 C26.1392219,2.49401091 24.3264173,1.73590109 22.4366505,1.73822992 L22.4366505,1.73822992 Z M16.1825243,2.62058824 C19.1666616,-0.392645492 23.843214,-0.857334072 27.3517371,1.51075236 C30.8602602,3.87883879 32.2233776,8.42001764 30.6073296,12.3566466 C28.9912816,16.2932756 24.8462538,18.5287201 20.7075801,17.6956556 C16.5689064,16.8625911 13.5895054,13.1930861 13.5917401,8.93161765 C13.5887036,6.56221112 14.5211094,4.28931974 16.1825243,2.61617647 L16.1825243,2.62058824 Z')
                      path(fill='#D03726', d='M24.3262136,25.3897059 L28.1359223,17.9536765 C28.3178106,17.5989101 28.7162293,17.4155923 29.1006925,17.5097727 C29.4851557,17.6039531 29.7561051,17.9512432 29.7567961,18.3507353 L29.7567961,18.3507353 L29.7567961,41.4926471 C29.7562397,41.9049168 29.4689315,42.2600659 29.0689835,42.3428697 C28.6690355,42.4256735 28.266509,42.2133455 28.1053398,41.8345588 L24.2956311,34.3985294 C24.2323872,34.2759268 24.1994129,34.1397095 24.1995082,34.0014706 L24.1995082,34.0014706 L24.1995082,25.8397059 C24.1989014,25.6799531 24.242807,25.5232483 24.3262136,25.3875 L24.3262136,25.3897059 Z M28.0398058,21.9176471 L25.9230583,26.0492647 L25.9230583,33.7941176 L28.0398058,37.9257353 L28.0398058,21.9176471 Z')
                      path(fill='#585D69', d='M31.2160194,52.0588235 L39.5169903,52.0588235 C39.5989516,52.0557302 39.6768319,52.0219134 39.7354369,51.9639706 C39.7925603,51.9048142 39.8253466,51.8259863 39.8271845,51.7433824 L39.8271845,51.3308824 C39.8255476,51.0160186 39.992682,50.7248852 40.2640777,50.5698529 L43.138835,48.6 L43.138835,35.7463235 L42.1995146,34.3102941 C42.1581818,34.4199023 42.0949811,34.5197624 42.013835,34.6036765 L37.5444175,39.9573529 L37.5444175,48.8955882 C37.5444182,49.1258902 37.4536701,49.3467276 37.2921982,49.5093686 C37.1307264,49.6720097 36.9118032,49.763086 36.6837379,49.7625 L31.2160194,49.7625 L31.2160194,49.8088235 C31.2946624,50.5419734 31.2946624,51.281556 31.2160194,52.0147059 L31.2160194,52.0610294 L31.2160194,52.0588235 Z M39.5169903,53.7948529 L30.211165,53.7948529 C30.1509207,53.7948013 30.0908601,53.7881447 30.0320388,53.775 C29.5707917,53.6726872 29.2779823,53.2133976 29.376699,52.7470588 C29.5652895,51.8387122 29.6139201,50.9064151 29.5208738,49.9830882 C29.4912454,49.6949159 29.4467677,49.4084982 29.3876214,49.125 C29.3675275,49.0494592 29.3572471,48.9716005 29.357036,48.8933824 C29.3564568,48.6626983 29.4469484,48.4412932 29.6084835,48.2781745 C29.7700185,48.1150557 29.9892741,48.023677 30.2177184,48.0242647 L35.8449029,48.0242647 L35.8449029,39.6419118 L35.8449029,39.6419118 C35.8461349,39.4369912 35.9179626,39.2388933 36.0480583,39.0816176 L40.5546117,33.6860294 L40.5546117,31.5110294 L40.5546117,31.5110294 C40.5541125,31.1280579 40.8025252,30.7901324 41.1656872,30.6797597 C41.5288491,30.5693869 41.920701,30.7127221 42.1296117,31.0323529 L44.7029126,34.9632353 C44.8163039,35.1143076 44.8776699,35.2986732 44.8776699,35.4882353 L44.8776699,49.0477941 L44.8776699,49.0477941 C44.8773072,49.3347458 44.7367054,49.6030225 44.5019417,49.7647059 L41.5616505,51.7808824 C41.5492042,52.3110089 41.334821,52.8158773 40.9631068,53.1904412 L40.9631068,53.1904412 C40.5803161,53.5804144 40.0585573,53.7989519 39.5148058,53.797071 L39.5169903,53.7948529 Z')
                      path(fill='#D03726', d='M22.4366505,26.7110294 L20.6737864,26.7110294 L20.6737864,33.1323529 L24.1995146,33.1323529 L24.1995146,26.7110294 L22.4366505,26.7110294 Z M19.8152913,24.9727913 L25.0580097,24.9727913 C25.2864541,24.9722064 25.5057096,25.0635851 25.6672447,25.2267039 C25.8287798,25.3898226 25.9192713,25.6112278 25.9186921,25.8419118 L25.9186921,34.0036765 C25.9186921,34.4836769 25.5333499,34.8727941 25.0580097,34.8727941 L19.8152913,34.8727941 C19.3428954,34.8656908 18.961646,34.4807036 18.9546117,34.0036765 L18.9546117,25.8419118 C18.9546117,25.3627715 19.3386199,24.9740102 19.8131068,24.9727913 L19.8152913,24.9727913 Z')
                      path(fill='#585D69', d='M35.8427184 53.7970588L33.5752427 53.7970588 33.5752427 58.1051471 38.1101942 58.1051471 38.1101942 53.7970588 35.8427184 53.7970588zM32.7145631 52.0588204L38.9708738 52.0588204C39.1989398 52.0588204 39.4176331 52.1504606 39.5786952 52.3135155 39.7397572 52.4765704 39.8299493 52.6976399 39.8293717 52.9279412L39.8293717 58.9720588C39.8293717 59.4511991 39.4453607 59.8399604 38.9708738 59.8411765L32.7145631 59.8411765C32.2392229 59.8411765 31.8538835 59.4520592 31.8538835 58.9720588L31.8538835 52.9411765C31.8497728 52.7082105 31.938704 52.4833808 32.1006249 52.3173825 32.2625457 52.1513843 32.4838232 52.0581937 32.7145631 52.0588204zM22.4366505 6.11691014C23.7657524 6.11573008 24.9104897 7.06303024 25.170487 8.3792331 25.4304843 9.69543596 24.7332877 11.0137534 23.5054574 11.5276097 22.2776272 12.041466 20.8613245 11.6076642 20.1230746 10.4916137 19.3848247 9.37556319 19.5303568 7.88827543 20.4706311 6.93970588 20.9914597 6.41222345 21.6990034 6.11611101 22.4366505 6.11691014L22.4366505 6.11691014zM23.1924757 8.16838235C22.8867513 7.86103975 22.4279639 7.76955995 22.0294992 7.93649094 21.6310345 8.10342194 21.3711149 8.49599358 21.3706311 8.93161765 21.3706311 9.52613594 21.8479042 10.0081021 22.4366505 10.0081021 22.8709347 10.0103037 23.2633185 9.74679299 23.4292288 9.34150874 23.595139 8.93622449 23.5015464 8.46985079 23.1924757 8.16176471L23.1924757 8.16838235z')
                      path(fill='#D03726', d='M18.9524272 26.0492647L16.8356796 21.9176471 16.8356796 37.9257353 18.9524272 33.7941176 18.9524272 26.0492647 18.9524272 26.0492647zM16.7395631 17.9536765L20.5470874 25.3897059C20.630494 25.5254542 20.6743995 25.6821589 20.6737927 25.8419118L20.6737927 34.0036765 20.6737927 34.0036765C20.6738881 34.1419153 20.6409138 34.2781327 20.5776699 34.4007353L16.7657767 41.8345588C16.6064771 42.2152276 16.2032303 42.4294241 15.802342 42.3463156 15.4014537 42.2632072 15.1143957 41.9059031 15.1164933 41.4926471L15.1164933 18.3507353 15.1164933 18.3507353C15.1152299 17.9495411 15.3867311 17.5998754 15.7728627 17.5054136 16.1589943 17.4109519 16.558868 17.5963749 16.7395631 17.9536765zM40.5502427 26.1573529L36.0152913 20.7352941 36.0152913 39.1257353 40.5502427 33.6948529 40.5502427 26.1573529zM35.8099515 17.7904412L42.0291262 25.2397059C42.1834479 25.401432 42.2695927 25.6173238 42.2694247 25.8419118L42.2694247 34.0036765 42.2694247 34.0036765C42.2702525 34.2089682 42.1981734 34.4077593 42.0662621 34.5639706L35.8470874 42.0066176C35.6260584 42.3063428 35.2400361 42.4298391 34.8884143 42.3133164 34.5367924 42.1967938 34.298296 41.8663404 34.2961165 41.4926471L34.2961165 18.3507353 34.2961165 18.3507353C34.2959955 17.9868956 34.5208735 17.6616934 34.8591732 17.5364833 35.1974729 17.4112733 35.5772021 17.5127009 35.8099515 17.7904412L35.8099515 17.7904412z')
                      path(fill='#585D69', d='M26.3796117 45.8161747C26.9260322 45.8152843 27.4190992 46.1470985 27.6286137 46.6567044 27.8381281 47.1663103 27.7227667 47.7531967 27.3363885 48.1433629 26.9500103 48.5335291 26.3688219 48.6500215 25.8641636 48.438453 25.3595054 48.2268845 25.0309127 47.7289835 25.0317943 47.1772059 25.0329988 46.4260337 25.6357324 45.817391 26.3796117 45.8161747L26.3796117 45.8161747zM26.3796117 53.2852941C27.1239896 53.2852941 27.7274272 53.8946477 27.7274272 54.6463235 27.7274272 55.3979993 27.1239896 56.0073529 26.3796117 56.0073529 25.6352337 56.0073529 25.0317961 55.3979993 25.0317961 54.6463235 25.0329988 53.8951514 25.6357324 53.2865086 26.3796117 53.2852941L26.3796117 53.2852941zM18.4893204 45.8161747C19.0355431 45.8161747 19.5279397 46.148558 19.7367654 46.658235 19.9455911 47.167912 19.8296899 47.7544364 19.4431395 48.1441449 19.0565891 48.5338534 18.4755721 48.6499409 17.9711823 48.4382427 17.4667925 48.2265446 17.1384365 47.728783 17.1393186 47.1772059 17.1393186 46.8158559 17.2816213 46.469338 17.5348584 46.214032 17.7880955 45.958726 18.1314791 45.8155908 18.4893204 45.8161747zM18.4893204 53.2852923C19.2334128 53.2865119 19.8357543 53.8964038 19.8349515 54.6477917 19.834147 55.3991797 19.2305022 56.0077562 18.4864089 56.0073512 17.7423157 56.0069457 17.1393204 55.397712 17.1393204 54.6463235 17.1393204 54.2849736 17.2816213 53.9384557 17.5348584 53.6831497 17.7880955 53.4278436 18.1314791 53.2847085 18.4893204 53.2852923L18.4893204 53.2852923zM26.3796117 4.01470588C27.1239896 4.01470588 27.7274272 4.62405951 27.7274272 5.37573529 27.7274272 6.12741108 27.1239896 6.73676471 26.3796117 6.73676471 25.6352337 6.73676471 25.0317961 6.12741108 25.0317961 5.37573529 25.0329988 4.62456315 25.6357324 4.01592039 26.3796117 4.01470588L26.3796117 4.01470588zM26.3796117 11.4816158C26.9258336 11.4807251 27.4187626 11.8123003 27.6284054 12.3216351 27.8380482 12.8309699 27.7230878 13.4176832 27.3371629 13.8080232 26.951238 14.1983633 26.370408 14.3154008 25.8656793 14.1045278 25.3609506 13.8936548 25.0317961 13.3964307 25.0317961 12.8448529 25.0317961 12.0928195 25.6348805 11.4828345 26.3796117 11.4816158L26.3796117 11.4816158zM18.4893204 4.01470409C19.2334128 4.01592369 19.8357543 4.62581552 19.8349515 5.3772035 19.834147 6.12859148 19.2305022 6.737168 18.4864089 6.73676292 17.7423157 6.73635744 17.1393204 6.12712372 17.1393204 5.37573529 17.1393204 5.01438533 17.2816213 4.66786746 17.5348584 4.41256143 17.7880955 4.1572554 18.1314791 4.01412023 18.4893204 4.01470409zM18.4893204 11.4816176C19.0353444 11.4816176 19.5276034 11.8137593 19.7365578 12.3231654 19.9455121 12.8325715 19.8300118 13.4189233 19.4439145 13.8088059 19.0578172 14.1986884 18.4771582 14.315321 17.9726978 14.1043181 17.4682373 13.8933152 17.1393204 13.3962301 17.1393204 12.8448529 17.1393204 12.0919589 17.743736 11.4816176 18.4893204 11.4816176z')
                figcaption.s-direction__caption Насосы и инструменты
          .col-12.col-sm-6.col-md-4.col-xl-2
            a.s-direction(href='/')
              figure.s-direction__figure
                .s-direction__cover
                  svg(xmlns='http://www.w3.org/2000/svg', width='60', height='60', viewbox='0 0 60 60')
                    g(fill='none')
                      path(fill='#525762', d='M59.9912446,16.3604236 C59.9885775,16.3364191 59.9879107,16.3124146 59.9839099,16.28841 C59.9725745,16.2203972 59.9545711,16.1543847 59.929233,16.092373 C59.9278994,16.0883722 59.9272326,16.0843715 59.925899,16.0803707 L53.474023,0.595445806 C53.3233281,0.235377794 52.9712621,0 52.5805222,0 L32.5694381,0 L27.4311416,0 L7.42005747,0 C7.02931756,0 6.67725157,0.234711001 6.52655666,0.595445806 L0.0746806646,16.0797039 C0.0333395824,16.179056 0.0160029996,16.2830757 0.00866829143,16.3877621 C0.00600112484,16.4164342 0,16.4437727 0,16.4724448 L0,59.0324839 C0,59.5665848 0.433414572,60 0.967514682,60 L59.0323982,60 C59.5664983,60 60,59.5665848 60,59.0324839 L60,16.4517742 C60,16.420435 59.9939118,16.3910961 59.9912446,16.3604236 Z')
                      path(fill='#FFF', d='M56.8227355 14.8592588L35.5398241 14.8592588 33.6656435 2.18569875 51.560735 2.18569875z')
                      path(fill='#CE422C', d='M26.4636269 17.4199571L33.5369528 17.4199571 33.5369528 23.3404087 26.4636269 23.3404087zM31.715278 1.93569897L33.4089288 15.4842581 26.5923177 15.4842581 28.2859685 1.93569897z')
                      path(fill='#FFF', d='M8.49462929 2.18569875L26.111155 2.18569875 24.3270522 14.8592587 3.48384526 14.8592587zM2.56069625 57.4399675L2.56069625 18.0449575 24.5285976 18.0449575 24.5285976 24.3079248C24.5285976 24.8420257 24.9620122 25.2754409 25.4961123 25.2754409L34.5051342 25.2754409C35.0392343 25.2754409 35.4726489 24.8420257 35.4726489 24.3079248L35.4726489 18.0449575 57.4398837 18.0449575 57.4398837 57.4399675 2.56069625 57.4399675z')

                figcaption.s-direction__caption Дополнительное оборудование
      .s-directions__actions
        +btn('Перейти к услугам')(href='/')