mixin btn(text, mods, isInput)

  //- Param:
    text {string}     - text inside
    mods {string}     - modifiers
    isInput {boolean} - true if it's input

  //- Use:
    +btn('text')(href='/')  - link
    +btn('text', '', true)  - input
    +btn('text', 'success') - button

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' s-btn--' + modsList[i].trim();
      }
    }

  //- Link
  if (attributes.href)
    a.s-btn(class=allMods)&attributes(attributes)
      span.s-btn__label #{text}
      span.s-btn__icon-wrapper
        span.s-btn__icon-default
          +svg-icon('arrow', 14, 11)
        span.s-btn__icon-hover
          +svg-icon('arrow', 14, 11)

  //- Input
  else if (typeof(isInput) !== 'undefined' && isInput)
    input.s-btn(class=allMods, value=text, type='button')&attributes(attributes)

  //- Button
  else
    button.s-btn(class=allMods)&attributes(attributes)
      span.s-btn__label #{text}
      span.s-btn__icon-wrapper
        span.s-btn__icon-default
          +svg-icon('arrow', 14, 11)
        span.s-btn__icon-hover
          +svg-icon('arrow', 14, 11)
