.s-btn {
  position: relative;
  display: inline-block;
  background-color: $color-primary;
  background-image: none;
  color: $text-color--lighter;
  margin: 0;
  padding: 1rem 0 1rem 1rem;
  border: 0;
  border-radius: 0;
  font-size: $font-size--small;
  font-weight: 400;
  line-height: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  transition: all .4s cubic-bezier(.645,.045,.355,1);

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
    background-color: darken($color-primary, 5%);
    z-index: 1;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    transform-origin: center left;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color--lighter;

    &::before {
      transform: scaleX(1);
    }

    .s-btn__icon-default {
      transform: translateX(60px);
      opacity: 0;
    }

    .s-btn__icon-hover {
      transform: translate(-50%,-50%);
      opacity: 1;
    }
  }

  &__label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 2;
  }

  &__icon-wrapper {
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 3rem;
    margin-left: 1rem;
    z-index: 2;
  }

  &__icon-default {
    display: block;
    transition:
      transform .4s cubic-bezier(.645,.045,.355,1),
      opacity .2s cubic-bezier(.645,.045,.355,1);
    opacity: 1;
  }

  &__icon-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60px,-50%);
    transition:
      transform .4s cubic-bezier(.645,.045,.355,1),
      opacity .2s cubic-bezier(.645,.045,.355,1);
    opacity: 0;
  }

  &--ghost {
    border: 1px solid $color-primary;
    background-color: transparent;
    color: $text-color;

    &::before {
      display: none;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      border: 1px solid currentColor;
      color: $text-color;
    }
  }

  &--without-icon {
    padding: 1rem;
  }

  &--dark {
    background-color: $bg-color--dark;
    color: $text-color--lighter;

    &::before {
      background-color: lighten($bg-color--dark, 5%);
      color: $text-color;
    }
  }

  &--small {
    padding: 0.5rem 0.75rem;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}