mixin in-numbers()

  section.s-in-numbers
    .container
      h2.s-section-title Преимущества
      .row
        .col-12.col-md-6.col-lg-3
          .s-in-numbers__item
            .s-in-numbers__number 1
            .s-in-numbers__info
              h3.s-in-numbers__term Title
              p.s-in-numbers__desc Zonbi tattered for solum oculi eorum defunctis go lum cerebro.
        .col-12.col-md-6.col-lg-3
          .s-in-numbers__item
            .s-in-numbers__number 2
            .s-in-numbers__info
              h3.s-in-numbers__term Title
              p.s-in-numbers__desc Zonbi tattered for solum oculi eorum defunctis go lum cerebro.
        .col-12.col-md-6.col-lg-3
          .s-in-numbers__item
            .s-in-numbers__number 3
            .s-in-numbers__info
              h3.s-in-numbers__term Title
              p.s-in-numbers__desc Zonbi tattered for solum oculi eorum defunctis go lum cerebro.
        .col-12.col-md-6.col-lg-3
          .s-in-numbers__item
            .s-in-numbers__number 4
            .s-in-numbers__info
              h3.s-in-numbers__term Title
              p.s-in-numbers__desc Zonbi tattered for solum oculi eorum defunctis go lum cerebro.