.s-in-numbers {
  background-color: $bg-color;
  color: $text-color;
  padding: 2rem 0;

  @media (min-width: $screen-md) {
    padding: 4.5rem 0;
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__number {
    font-size: 5.65rem;
    line-height: 6rem;
    color: $color-primary;
    flex-shrink: 0;
    padding-right: 0.5rem;
  }

  &__info {
    padding-top: 3.65rem;
  }

  &__term {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin: 0 0 0.25rem 0;
  }

  &__desc {
    font-size: $font-size--small;
    line-height: $line-heght--small;
    opacity: 0.75;
  }
}