.s-field-text {
  display: block;
  margin-bottom: 1.5rem;

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    font-size: $font-size--small;
    line-height: $line-heght--small;
    font-family: inherit;
    background-color: #fafafa;
    border: 1px solid $bg-color--light;
    border-radius: $border-radius;
    appearance: textfield;
    padding: 1rem 1.5rem;

    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-lighter;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      // height: auto;
    }

    &[type='color'] {
      // max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      opacity: 0.5;
    }

    @at-root textarea#{&} {
      $textarea-height: 10.2rem;
      height: auto;
      min-height: calc(#{$textarea-height} + 2px);
      resize: vertical;
    }
  }

  &__help-text {
    @include field-help-text;
  }
}
