mixin date(input)

  //- Param:
    date - {string} date in YYYY-MM-DD format

  //- Use:
    +date('2018-07-18')

  - var date = new Date(input)
  - var months = [ 'Января', 'Февраля', 'Марта', 'Апреля', 'Мая', 'Июня', 'Июля', 'Августа', 'Сентября', 'Октября', 'Ноября', 'Декабря' ]

  time(datetime=JSON.parse(JSON.stringify(date)))&attributes(attributes)=date.getDate() + ' ' + months[date.getMonth()] + ' ' + date.getFullYear()