//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/dropcap/dropcap.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/date/date.pug
include ../blocks/external-link/external-link.pug
include ../blocks/table/table.pug
include ../blocks/form/form.pug
include ../blocks/field-text/field-text.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-toggler/field-toggler.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/pagination/pagination.pug
include ../blocks/owl-carousel/owl-carousel.pug
include ../blocks/slick-carousel/slick-carousel.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/style-guide/style-guide.pug
include ../blocks/scroll-link/scroll-link.pug
include ../blocks/promo/promo.pug
include ../blocks/testimonials/testimonials.pug
include ../blocks/social/social.pug
include ../blocks/news/news.pug
include ../blocks/section-title/section-title.pug
include ../blocks/advantages/advantages.pug
include ../blocks/products/products.pug
include ../blocks/product-card/product-card.pug
include ../blocks/who-are-we/who-are-we.pug
include ../blocks/why-are-we/why-are-we.pug
include ../blocks/directions/directions.pug
include ../blocks/direction/direction.pug
include ../blocks/about-us/about-us.pug
include ../blocks/page-title/page-title.pug
include ../blocks/inner-layout/inner-layout.pug
include ../blocks/catalog-nav/catalog-nav.pug
include ../blocks/catalog/catalog.pug
include ../blocks/slider/slider.pug
include ../blocks/in-numbers/in-numbers.pug
include ../blocks/parts/parts.pug
include ../blocks/order/order.pug
include ../blocks/tabs/tabs.pug
include ../blocks/modal/modal.pug
