.s-order {
  background-color: $bg-color;
  color: $text-color;
  padding: 2rem 0;

  @media (min-width: $screen-md) {
    padding: 4.5rem 0;
  }

  &__intro {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 3rem;

    @media (min-width: $screen-md) {
      max-width: 16rem;
    }
  }
}