mixin order()

  section.s-order
    .container
      h2.s-section-title Заказать
      .row
        .col-12.col-md-6
          p.s-order__intro Qui animated corpse, cricket bat max brucks terribilem incessu zomby.
          +table()
            tr
              th Артикул
              th Наименование
            tr
              td 489234-123
              td Suscitat mortuos
            tr
              td 489234-124
              td Defunctis go lum cerebro
            tr
              td 489234-125
              td Zombie sicut de grave feeding iride
            tr
              td 489234-126
              td Iride et serpens
        .col-12.col-md-6
          +form()
            +field-text({
              title: 'Имя',
              attrs: {
                placeholder: 'Placeholder'
              }
            })
            +field-text({
              title: 'Телефон',
              attrs: {
                placeholder: 'Placeholder'
              }
            })
            +field-text({
              title: 'Организация',
              attrs: {
                placeholder: 'Placeholder'
              }
            })
            +field-text({
              title: 'Сообщение',
              isTextarea: true,
              attrs: {
                placeholder: 'Placeholder'
              }
            })
            +field-actions()
              +btn('Отправить заявку', 'ghost')(href='/')