.s-catalog {

  &__cover {
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      height: 390px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}