.s-tabs {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .nav-tabs {
    border-bottom: 1px solid #d8d8d8;
    font-size: $font-size--small;
    line-height: $line-heght--small;
  }

  .nav-tabs .nav-link {
    color: currentColor;
    vertical-align: top;
    border: 0;
    border-radius: 0;
    opacity: 0.5;
    border-bottom: 1px solid transparent;
    padding: 0.75rem 2rem;

    &:hover,
    &:focus {
      border-color: transparent;
      opacity: 1;
    }
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    border-bottom: 1px solid $color-primary;
    opacity: 1;
  }

  .tab-content {
    padding-top: 1.5rem;
  }
}