mixin product-card()

  .s-product-card
    .s-product-card__cover
      img(src='img/product-example.jpg', alt='')
    .s-product-card__info
      span.s-product-card__name Product name
      span.s-product-card__desc Price or desc
    .s-product-card__layer
      +btn('Подробнее')(href='/')

mixin product-card-small(image)

  if image
    a.s-product-card.s-product-card--small(href='/')
      .s-product-card__cover
        img(src=image, alt='')
      .s-product-card__info
        span.s-product-card__name Product name
        span.s-product-card__desc Price or desc

  else
    a.s-product-card.s-product-card--small(href='/')
      .s-product-card__cover
        img(src='img/product-example.jpg', alt='')
      .s-product-card__info
        span.s-product-card__name Product name
        span.s-product-card__desc Price or desc