.s-product-card {
  background-color: $bg-color;
  color: $text-color;
  padding: 1.5rem 0 3rem 0;
  display: block;
  position: relative;

  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;

    .s-product-card__layer {
      transform: scaleY(1);

      .s-btn {
        opacity: 1;
        transform: none;
        transition-delay: .2s;
      }
    }

    .s-product-card__cover {

      img {
        transform: scale(1.1);
      }
    }
  }

  &__cover {
    height: 290px;
    position: relative;
    margin-bottom: 1.5rem;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: transform .5s cubic-bezier(.645,.045,.355,1);
    }
  }

  &__info {
    text-align: center;
  }

  &__name {
    display: block;
    margin-bottom: 0.25rem;
    font-size: $base-font-size;
    line-height: $line-height;
  }

  &__desc {
    font-size: $font-size--small;
    line-height: $line-heght--small;
    opacity: 0.5;
  }

  &__layer {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: rgba(#121212, 0.9);
    z-index: 30;
    overflow: hidden;
    transition: transform .5s cubic-bezier(.645,.045,.355,1);
    transform: scaleY(0);
    transform-origin: center bottom;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    .s-btn {
      opacity: 0;
      transform: translateY(1.5rem);
    }
  }

  &--small {
    padding: 1rem 0 1.5rem 0;

    .s-product-card__cover {

      @media (min-width: $screen-md) {
        height: 180px;
      }
    }
  }
}