.s-page-footer {
  background-color: $bg-color--dark;
  color: $text-color--lighter;
  font-size: $font-size--small;
  line-height: $line-heght--small;
  padding: 3rem 0 1rem;

  @media (min-width: $screen-sm) {
    padding: 3rem 0;
  }

  @media (min-width: $screen-md) {
    padding: 4.5rem 0;
  }

  &__intro {
    margin-bottom: 2rem;
  }

  &__desc {
    opacity: 0.5;
    max-width: 16rem;
  }

  .s-logo {
    margin-bottom: 1rem;
  }

  &__title {
    color: currentColor;
    opacity: 0.25;
    font-size: $font-size--small;
    line-height: $line-heght--small;
    margin-bottom: 0.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__nav {

    @media (max-width: ($screen-sm - 1)) {
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid $border-color--lighter;
    }
  }

  &__nav-list {
    position: relative;
    padding-top: 1rem;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (min-width: $screen-sm) {
      padding-top: 1.5rem;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;

      @media (min-width: $screen-sm) {
        margin-bottom: 3rem;
      }
    }

    &::before {
      position: absolute;
      content: '';
      background-color: $color-primary;
      height: 1px;
      width: 30px;
      top: 0;
      left: 0;
    }

    li {
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      a {
        color: currentColor;
        display: inline-block;
        opacity: 0.75;

        &:hover,
        &:focus {
          text-decoration: none;
          opacity: 1;
        }
      }
    }
  }

  &__contact {

    @media (max-width: ($screen-sm - 1)) {
      margin-bottom: 1rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid $border-color--lighter;
    }
  }

  &__contact-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 1.5rem;

        @media (min-width: $screen-sm) {
          margin-bottom: 3rem;
        }
      }

      a,
      address {
        display: inline-block;
        color: currentColor;
        opacity: 0.75;

        &:hover,
        &:focus {
          text-decoration: none;
          opacity: 1;
        }
      }
    }
  }

  &__copyright {
    display: flex;
    opacity: 0.5;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.5rem;
    line-height: 0.8rem;

    @media (min-width: $screen-sm) {
      padding-top: 3rem;
    }

    @media (min-width: $screen-md) {
      padding-top: 6rem;
    }
  }
}