mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .container
      .row
        .col-12.col-md-4.col-lg-5
          .s-page-footer__intro
            +logo('/index.html')
              img(src='img/comair--white.svg', alt='Comair Logo', width='153', height='30')
            p.s-page-footer__desc De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.
        .col-12.col-md-4.col-lg-4
          .s-page-footer__nav
            ul.s-page-footer__nav-list
              li: a(href='/') Винтовые компрессоры
              li: a(href='/') Центробежные компрессоры
              li: a(href='/') Подготовка воздуха
              li: a(href='/') Масло и запасные части
              li: a(href='/') Насосы и инструмент
              li: a(href='/') Дополнительное оборудование
            ul.s-page-footer__nav-list
              li: a(href='/service.html') Сервис
              li: a(href='/') Услуги
              li: a(href='/') Запчасти
              li: a(href='/') Оборудование
              li: a(href='/') Полезная информация
              li: a(href='/') О компании
              li: a(href='/') Контакты
        .col-12.col-md-4.col-lg-3
          .s-page-footer__contact
            ul.s-page-footer__contact-list
              li
                h3.s-page-footer__title Телефон | Факс
                a(href='tel:+78126767685') +7 (812) 676-76-85
              li
                h3.s-page-footer__title E-mail:
                a(href='mailto:spb@comair-russia.ru') spb@comair-russia.ru
                a(href='mailto:ir@comair-russia.ru') ir@comair-russia.ru
              li
                h3.s-page-footer__title Адрес:
                address
                  | 192029, Санкт-Петербург,
                  br
                  |  пр. Обуховской обороны, д. 86 л. К
        .col-12
          .s-page-footer__copyright
            span © 2019. Comair
            span Created by Springbay