.s-section-title {
  font-size: $font-size--small;
  color: currentColor;
  line-height: $line-heght--small;
  position: relative;
  padding-left: 2.5rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 2.5rem;

  &::before {
    position: absolute;
    content: '';
    background-color: $color-primary;
    width: 1.5rem;
    height: 1px;
    left: 0;
    top: calc(55% - 1px);
  }
}