.s-advantages {
  background-color: $bg-color--light;
  color: $text-color;
  padding: 2rem 0 1rem;

  @media (min-width: $screen-md) {
    padding: 4.5rem 0 3rem;
  }

  &__intro {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 3rem;

    @media (min-width: $screen-md) {
      max-width: 16rem;
    }
  }

  &__figure {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 3rem;
    }
  }

  &__cover {
    width: 3rem;
    height: 3rem;
    background-color: darken($bg-color--light, 5%);
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    svg {
      display: block;
      vertical-align: middle;
    }
  }

  &__caption {
    padding-left: 1.5rem;
  }

  &__title {
    font-size: $font-size--small;
    line-height: $line-heght--small;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 0.75rem;
    }
  }

  &__desc {
    font-size: $font-size--small;
    line-height: $line-heght--small;
    opacity: 0.5;
    display: block;

    @media (min-width: $screen-sm) {
      max-width: 11rem;
    }
  }
}