mixin advantages()

  section.s-advantages
    .container
      h2.s-section-title Индивидуальный подход
      .row
        .col-12.col-lg-4
          p.s-advantages__intro Qui animated corpse, cricket bat max brucks terribilem incessu zomby.
        .col-12.col-lg-8
          .row
            .col-12.col-md-6
              figure.s-advantages__figure
                .s-advantages__cover
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 29 25', width='29', height='26', transform='translate(-3 0)')
                    g(fill='none', fill-rule='evenodd')
                      path(fill='#65676B', d='M5.08996699 18.0372984l2.06996632-2.0818549V3.15493952c0-.28528226.11295862-.55594758.3121566-.75745968.19929767-.20141129.46698865-.315625.74913594-.315625H25.3463255c.2821473 0 .5498383.11421371.749136.315625.1992977.2015121.3122563.47217742.3122563.75745968V20.4925403c0 .2851815-.1129586.5559476-.3122563.7574597-.1992977.2014113-.4669887.315625-.749136.315625H11.8332096l-2.06976689 2.0818548H26.3463255c.5666874 0 1.1052597-.2276209 1.5056496-.6325604.4004897-.4049396.625709-.949496.625709-1.5223791V2.15493952c0-.57288307-.2252193-1.11743952-.625709-1.52237904C27.4515852.22772178 26.9130129 0 26.3463255 0H7.22122585c-.56668734 0-1.10515996.22772177-1.50564959.63256048-.40048963.40493952-.62560927.94949597-.62560927 1.52237904V18.0372984z')
                      path(fill='#CE422C', d='M5.95177242 23.6725101h.0003988l4.88862548-4.9434476c.1271158-.1284274.2173431-.2821573.2661955-.4464718.0502481-.1688508.0600186-.3483871.0247253-.5234879-.026819-.1334677-.0204383-.2671371.0159518-.3899193.0376861-.1273186.1050824-.2438508.1987992-.3386089l1.2402516-1.2540323.0012961.0012097c.137983-.1392137.3231235-.2172379.5047745-.2303427.1807537-.0130041.374867.0379032.5312943.15625.5529289.4186492 1.1577012.7372984 1.7958725.9512097.6369749.213508 1.3142281.3226814 2.0133153.3226814.8539192 0 1.6794244-.1662298 2.4393278-.4840726.7570121-.3164314 1.4554014-.7867943 2.05808-1.3961693 1.2395538-1.2533266 1.8592808-2.9 1.8592808-4.5466734 0-1.64687502-.619727-3.2934476-1.8592808-4.54677421-.6024792-.6092742-1.3006691-1.07953629-2.0575815-1.39606855-.759704-.31764113-1.5852092-.48387097-2.438929-.48387097-.8538196 0-1.6793247.16622984-2.4391284.48387097-.7569125.31653226-1.4552021.78679435-2.057781 1.39606855-.5413639.54737903-.9717631 1.18377016-1.2797323 1.87459677-.3124557.70050403-.5006869 1.45816532-.5532281 2.23679434-.0522421.773992.0299096 1.543246.2402739 2.2717742.2081708.7207661.5416629 1.4042339.9943947 2.015121.118442.1599798.1699863.3529234.1570254.5373992-.0130605.1857863-.0911246.3700605-.2313009.5115927l-1.2409496 1.253125.0011964.0012097c-.0919222.0929435-.2083703.1611895-.3325948.199496l.0001994.0007056c-.1195388.0364919-.2532347.0439516-.3849367.0169355-.0304081-.00625-.0653026-.0111895-.1042848-.015121-.0233295-.0024193-.0596198-.0035282-.1077743-.0035282-.14605857 0-.28463975.0273185-.40936281.0795363-.12292848.0512097-.23877836.1301411-.34136831.2337701l-5.23248626 5.290625-2.37821251 2.4046371H-.00003988l8.47767857-8.5719758c.2132555-.2154234.46579227-.3840725.74385192-.5003024.27686325-.1157258.57286866-.1762097.87405839-.1762097.0607165 0 .1327987.0039315.2159474.011996l.8332816-.8415323c-.4330911-.650504-.7593052-1.3605846-.9738568-2.1035282-.25134038-.8704637-.34994238-1.7839718-.28822889-2.6979838.06261077-.92711698.28673339-1.82903231.65860949-2.66310489.3696828-.82923387.8839286-1.5907258 1.5287797-2.24274193.7131447-.72096774 1.5481213-1.28104839 2.4602646-1.6623992.9118442-.3813508 1.8947735-.58084677 2.903824-.58084677 1.0090504 0 1.9917804.19949597 2.9035249.58084677.912243.38135081 1.7471198.94143146 2.4601648 1.6623992 1.4789303 1.49546371 2.2184952 3.45957661 2.2184952 5.42348792 0 1.9638105-.7394652 3.9278226-2.2184952 5.4233871-.7132444.7209677-1.5482209 1.28125-2.4605636 1.6627016-.9119439.38125-1.8947736.5808468-2.9040234.5808468-.8194235 0-1.6257865-.1322581-2.3964574-.3905242-.6474433-.2170363-1.264977-.5231855-1.8391417-.9149194l-.8323844.8418347c.0290124.3014113-.0007975.6006048-.0846441.8822581-.1076746.3617943-.3018877.6956653-.572769.9695564l-5.24774017 5.306754H4.72537886l1.22639356-1.2400201z')
                      path(fill='#BFC0BF', d='M17.4341601 14.5266935c1.0859181 0 2.0689472-.4450604 2.7805964-1.1645161.7114499-.7194556 1.1516196-1.713508 1.1516196-2.8113911 0-1.09798388-.4401697-2.09193549-1.1516196-2.81149195-.7116492-.71945564-1.6946783-1.16441532-2.7805964-1.16441532-1.0858184 0-2.0689472.44495968-2.7804967 1.16441532-.7115496.71955646-1.1517193 1.71350807-1.1517193 2.81149195h-.5651918c0-1.25574598.5033786-2.39254033 1.3173187-3.2155242.8138404-.82288307 1.9382422-1.33195565 3.1800891-1.33195565s2.3662487.50907258 3.1800891 1.33195565c.8139401.82298387 1.3173187 1.95977822 1.3173187 3.2155242 0 1.2556452-.5033786 2.3925403-1.3173187 3.2154234-.8138404.822883-1.9382422 1.3319556-3.1800891 1.3319556v-.5714718z')
                figcaption.s-advantages__caption
                  h3.s-advantages__title Пневмоаудит
                  span.s-advantages__desc Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies.
            .col-12.col-md-6
              figure.s-advantages__figure
                .s-advantages__cover
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 25 25', width='25', height='25')
                    g(fill='none', fill-rule='nonzero')
                      path(fill='#65676B', d='M24.7782392 7.37043189c-.1327365-.14051876-.3174984-.2201497-.5107973-.2201497-.193299 0-.3780609.07963094-.5107974.2201497a2.74086368 2.74086368 0 00-.2516611.3538206c-.2192691-.37375415-.3862126-.65282392-.5456811-.93687707a.71760986.71760986 0 01-.0448505-.21926911 3.60050008 3.60050008 0 00-.1569767-.75 6.72757868 6.72757868 0 00-.5431894-.99667774c-.8023256-1.2807309-1.948505-2.21760797-3.122093-3.10714286-.8432347-.65159564-1.7958311-1.14772204-2.8131229-1.46511627-.9156239-.31412291-1.9079923-.32547924-2.8305648-.03239203a2.7134526 2.7134526 0 00-.3513289.179402v.09219268a4.4651121 4.4651121 0 00.4410299.1295681c.9352421.14290678 1.8314548.47527704 2.6337209.9767442.5556709.33967549.985244.85148866 1.2234219 1.45764119.2335412.53190038.1691346 1.14755256-.1694352 1.61960133-.269103.37126246-.3538206.76744186-.0373754 1.17857143l-4.7516611 5.06810636 1.5996678 1.5946843 4.6993355-5.00332222c.1270764.08222591.236711.15697674.3513289.22176079.2842058.18113856.6395853.21005395.9493356.07724253.1950901-.1000607.4281578-.09156836.6154485.02242525.5406976.33139535 1.0714285.68023256 1.6071428 1.02159468l.0274087.11710964a1.10132774 1.10132774 0 00-.2317276.15199335c-.2898266.29155624-.2898266.76243048 0 1.05398668.1323646.141189.3172651.2212939.5107973.2212939s.3784327-.0801049.5107974-.2212939c.5797342-.57973419 1.1519933-1.16694349 1.7167774-1.76162787.2791659-.29439803.272531-.75773619-.0149502-1.04401994z')
                      path(fill='#DB372F', d='M21.7607973 23.7707641c-.3497804.3661847-.8341349.5733418-1.3405315.5733418-.5063967 0-.9907512-.2071571-1.3405316-.5733418L7.05980066 11.3795681c-.07811862-.0039097-.15599673.0114948-.22674418.0448505-1.38920291.4477991-2.90319616.2848231-4.16526874-.4483764C1.40571515 10.2428426.51421732 9.0083515.21511628 7.57973422a10.0490033 10.0490033 0 01-.1320598-1.59966777c-.02015804-.20609907.10034276-.40012579.29401993-.47342193.1918104-.07744905.41172567-.01607734.53571429.14950166.76245847.78488372 1.52990033 1.56727575 2.28737541 2.35963455.09513996.12545751.26213053.17229633.40863788.11461794.72757475-.2192691 1.45764119-.42358804 2.19019933-.6179402.13148462-.02479954.23206474-.13141447.24916944-.2641196.1744186-.73421927.3538206-1.46594684.53820598-2.19518272.04333723-.12824205.00495536-.26995971-.09717608-.35880399-.76245847-.77491694-1.51744186-1.55730897-2.27990033-2.33222591-.18217314-.1332535-.26013857-.36714981-.19435216-.58305648.08427714-.21737455.30389434-.35118782.53571428-.32641196 3.6204319-.23421927 6.34883725 3.3961794 5.23255814 6.96179402-.02636139.06815329-.03576744.14169147-.02740864.21428571L21.7607973 21.0024917c.7452138.7722999.7452138 1.9959725 0 2.7682724z')
                      path(fill='#65676B', d='M8.65946844 14.1453488L1.04734219 21.122093c-.31064887.280722-.4956166.6743897-.5134174 1.0927086-.0178008.4183189.1330552.8262769.41873302 1.1323745.36378737.3936877.7475083.7724252 1.11877076 1.1511628.66163071.6078361 1.69040695.5654813 2.29983389-.0946844 2.24252492-2.6436877 4.53239203-5.2524917 6.80232554-7.8737542l.1519934-.1719269-2.32225914-2.5290697-.34385382.3164451z')
                figcaption.s-advantages__caption
                  h3.s-advantages__title Монтаж
                  span.s-advantages__desc Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies.
            .col-12.col-md-6
              figure.s-advantages__figure
                .s-advantages__cover
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 25 25', width='25', height='25')
                    g(fill='none', fill-rule='evenodd')
                      path(fill='#65676B', d='M12.6662981 13.0409l-.5471154-.57 1.4644231 3.397 3.0221154-3.143-5.4807693-2.559.4567308 1.059 1.4144231 1.471c.0932692.096.0932692.25 0 .345-.0903846.094-.2384616.094-.3298077 0M13.1619712 5.9948l.2509615.261 3.7990385 1.888-3.0586539-3.18zM16.9632212 5.823l-1.8173077-1.89-.6615385.687 3.1394231 3.266c.0923077.094.0923077.248 0 .343-.0336539.035-.0740385.053-.1173077.062l2.275 1.131 3.6259615-3.77c.3644231-.38.3644231-.995 0-1.375L19.771875.496c-.3644231-.379-.9567308-.379-1.3221154 0L16.796875 2.215l3.1394231 3.265c.0923077.095.0923077.248 0 .344-.0903846.095-.2384616.095-.3298077 0l-3.1394231-3.265-.9913461 1.031 1.8163461 1.89c.0923077.095.0923077.248 0 .344-.0894231.094-.2375.094-.3288461-.001M6.88293269 12.5247l-.66057692.688 1.81730769 1.89c.09038462.095.09038462.249 0 .343-.09134615.096-.23942308.096-.33076923 0l-1.81730769-1.89-.99230769 1.032 3.14038461 3.265c.09038462.095.09038462.248 0 .343-.09134615.096-.23942308.096-.33076923 0l-3.13942308-3.264-.66057692.687 1.81730769 1.89c.09038462.095.09038462.249 0 .344-.09134615.095-.23942307.095-.33076923 0l-1.81826923-1.89-.99038461 1.031 3.13942307 3.265c.09038462.095.09038462.249 0 .343-.09134615.096-.23942307.096-.33076923 0l-3.13846154-3.265-1.98365384 2.063c-.36442308.379-.36442308.995 0 1.374l3.63557692 3.782c.36442308.379.95673077.379 1.32211539 0l5.14903848-5.357-2.70673079-5.852-.79038462-.822z')
                      path(fill='#DB372F', d='M22.9478365 13.424l-.1346153-.417c-.2721154-1.135-1.0057693-1.588-1.0057693-1.588l-2.6692307-1.327-4.0903847-2.034-1.0778846-.536-1.5403846-.765-1.5375-.764c.15-.305-.1057692-.619-.1057692-.619L6.89014423 1.32 5.64302885 2.618l-2.1625-2.25C3.19879808.076 2.95168269 0 2.77283654 0c-.19230769 0-.30865385.088-.30865385.088l-.40576923.421-.62403846.649s-.40961538.548.175 1.156l2.1625 2.249L2.52475962 5.86 6.421875 9.912s.19038462.117.40673077.117c.07692308 0 .15961538-.015.23653846-.056l.73846154 1.595L8.896875 13.933l.6125 1.324 1.5144231 3.272 1.2817307 2.771s.448077.75 1.5394231 1.033l.4711539.163s.4355769.48.9721154 1.073c.3028846.333.5105769.505.5932692.505.0644231 0 .0519231-.105-.0528846-.319l-.4326923-.889.3105769.105-2.7721154-6.428-2.5211538-5.846-.53750005-1.246-.01153846-.027-.05192307-.12.35096158-.364.1336538-.139.1163462.053.3826923.179 1.1990384.561 5.2586539 2.455 6.1798077 2.887-.1528847-.474 1.0278847.515s.5548077-.272.3211538-.678l-1.6817308-.875z')

                figcaption.s-advantages__caption
                  h3.s-advantages__title Проектирование
                  span.s-advantages__desc Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies.
            .col-12.col-md-6
              figure.s-advantages__figure
                .s-advantages__cover
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 32', width='24', height='32')
                    g(fill='none', fill-rule='nonzero')
                      path(fill='#BFC0BF', d='M9.26541096 23.3732877l-3.36472603 7.9623287-2.44006849-2.3886986-3.4160959-.1027397 3.67294521-8.6558219.0770548.1797945c.4109589.8219178 1.18150685 1.4126712 2.10616438 1.5410959l1.69520548.2568493 1.3869863 1.0273973c.0770548.0513698.17979452.1284246.28253425.1797945zM23.9058219 28.8441781l-3.4160959.1027397-2.4400685 2.3886986-3.4417808-8.1164383.2825343.0513698c.9246575.1284247 1.8236301-.1797945 2.4657534-.8476027l1.1815068-1.2585616 1.6181507-.5650685c.0770548-.025685.1541096-.0513699.2054795-.0770548l3.5445205 8.3219178z')
                      path(fill='#E1251B', d='M15.9178082 10.0428082l-2.6969178-.20547943-1.0273972-2.51712329c-.0513699-.15410959-.2054795-.15410959-.2311644-.15410959-.0513699 0-.1797946 0-.2311644.15410959l-1.0273973 2.51712329-2.69691778.20547943c-.15410959 0-.20547946.1284247-.23116439.1797945 0 .0513699-.05136986.1797946.0770548.2825343l2.08047945 1.7465753-.64212329 2.619863c-.05136986.1541096.07705479.2568494.10273973.2825343.02568493.0256849.15410959.1027397.28253424 0l2.31164384-1.4383562 2.3116438 1.4383562c.1284247.0770548.2568493 0 .2825343-.0256849.0256849-.025685.1284246-.1027398.1027397-.2568494l-.6421233-2.619863 2.0804795-1.7465753c.1284246-.1027397.0770548-.2311644.0770548-.2825343-.0770548-.0256849-.1284247-.1541095-.2825343-.1797945z')
                      path(fill='#65676B', d='M22.7756849 8.19349315l-1.3099315-1.56678082-.4623287-2.00342466c-.1027398-.46232877-.4366439-.84760274-.8732877-1.02739726l-1.9006849-.77054794-1.3099316-1.56678083c-.3082191-.35958904-.7705479-.56506849-1.2585616-.51369863l-2.0547945.17979452L11.7054795.1541096c-.4366439-.17979452-.9503425-.12842466-1.3356165.12842466L8.6489726 1.41267123l-2.05479452.17979452c-.4880137.05136987-.8989726.30821918-1.13013698.74486302l-1.00171233 1.7979452L2.71575342 5.2140411c-.4109589.25684931-.64212328.69349315-.66780821 1.18150685l-.05136987 2.05479452L.99486301 10.2482877c-.23116438.4109589-.25684931.9246575-.02568493 1.3613013l.8989726 1.8493151-.05136986 2.0547945c-.02568493.4880137.20547945.9246576.59075343 1.2071918l1.66952054 1.2071918.89897261 1.8493151c.20547945.4366438.61643835.719178 1.10445205.7962328l2.02910959.3082192 1.66952055 1.2071918c.38527401.2825342.89897261.359589 1.33561641.2054794l1.9520548-.6678082 2.0291096.3082192c.4623288.0770548.9503425-.1027397 1.2842466-.4366438l1.4126712-1.4897261 1.9520548-.6678082c.4623288-.1541096.7962329-.5393835.9246575-.9760274l.5393836-1.9777397 1.4126712-1.489726c.3339042-.3595891.4623288-.8476028.3595891-1.3099315l-.4366439-2.0034247.5393836-1.97773972c.1027397-.53938356 0-1.02739726-.3082192-1.41267123zM11.9623288 17.8510274c-3.67294524 0-6.67808222-2.9794521-6.67808222-6.6780822 0-3.6729452 2.97945205-6.67808219 6.67808222-6.67808219 3.6729452 0 6.6780822 2.97945206 6.6780822 6.67808219 0 3.6986301-3.005137 6.6780822-6.6780822 6.6780822z')
                figcaption.s-advantages__caption
                  h3.s-advantages__title Гарантия
                  span.s-advantages__desc Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies.
            .col-12.col-md-6
              figure.s-advantages__figure
                .s-advantages__cover
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 34 24', width='34', height='24')
                    g(fill='none', fill-rule='evenodd')
                      path(fill='#65676B', d='M7.235 17.8226H.484c-.267 0-.484.217-.484.484v1.469c0 .268.217.485.484.485h5.411c.141-.97.631-1.826 1.34-2.438')
                      path(fill='#DB372F', d='M9.4941 0h-6.851c-.802 0-1.453.651-1.453 1.453v6.232h8.34c-.013-2.562-.027-5.123-.036-7.685')
                      path(fill='#BFC0BF', d='M17.0724 0h-6.719c.009 2.562.023 5.123.036 7.685h8.135V1.453c0-.802-.65-1.453-1.452-1.453M9.5335 8.544h-8.343v7.346c0 .267.217.484.484.484h7.882c0-2.61-.01-5.22-.023-7.83')
                      path(fill='#65676B', d='M10.3929 8.544c.013 2.61.023 5.22.024 7.83h7.624c.267 0 .484-.217.484-.484V8.544h-8.132zM25.5928 22.3419c-.832 0-1.506-.674-1.506-1.506 0-.833.674-1.507 1.506-1.507s1.507.674 1.507 1.507c0 .832-.675 1.506-1.507 1.506m0-4.519c-1.664 0-3.013 1.349-3.013 3.013 0 1.663 1.349 3.012 3.013 3.012s3.013-1.349 3.013-3.012c0-1.664-1.349-3.013-3.013-3.013')
                      path(fill='#65676B', d='M28.6238 9.9502h-6.032c-.268 0-.484-.217-.484-.484v-3.349c0-.267.216-.484.484-.484h3.675c.158 0 .306.077.397.206l2.356 3.348c.226.321-.004.763-.396.763m4.824 7.872h-1.179v-6.579c0-.773-.231-1.528-.663-2.168l-2.947-4.364c-.72-1.067-1.923-1.707-3.21-1.707h-4.571c-.535 0-.969.434-.969.969v13.849h-7.484c.709.612 1.198 1.469 1.34 2.438h7.893c.281-1.923 1.936-3.406 3.935-3.406s3.654 1.483 3.935 3.406h3.92c.267 0 .484-.217.484-.484v-1.469c0-.268-.217-.485-.484-.485M9.8297 22.3419c-.832 0-1.507-.674-1.507-1.506 0-.833.675-1.507 1.507-1.507.832 0 1.507.674 1.507 1.507 0 .832-.675 1.506-1.507 1.506m0-4.519c-1.664 0-3.013 1.349-3.013 3.013 0 1.663 1.349 3.012 3.013 3.012s3.013-1.349 3.013-3.012c0-1.664-1.349-3.013-3.013-3.013')
                      path(fill='#BFC0BF', d='M11.4143 20.8579c0 .881-.714 1.595-1.595 1.595s-1.596-.714-1.596-1.595.715-1.595 1.596-1.595c.881 0 1.595.714 1.595 1.595M27.1807 20.8579c0 .881-.714 1.595-1.595 1.595s-1.596-.714-1.596-1.595.715-1.595 1.596-1.595c.881 0 1.595.714 1.595 1.595')
                figcaption.s-advantages__caption
                  h3.s-advantages__title Поставка
                  span.s-advantages__desc Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies.
            .col-12.col-md-6
              figure.s-advantages__figure
                .s-advantages__cover
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 23 26', width='23', height='26')
                    g(fill='none', fill-rule='evenodd')
                      path(fill='#65676B', d='M22.06135 2.9987h-15.67c-.458 0-.829.332-.829.741v11.049l1.658-1.481v-8.828h14.012v17.416h-1.044v1.481h1.873c.458 0 .829-.332.829-.741V3.7397c0-.409-.371-.741-.829-.741M5.81435 23.1654c.15.13.353.211.577.211h9.465v-1.481h-8.62l-1.422 1.27z')
                      path(fill='#DB372F', d='M17.97165 18.5487c.584 0 1.057.473 1.057 1.057s-.474 1.057-1.057 1.057c-.584 0-1.057-.473-1.057-1.057s.473-1.057 1.057-1.057m2.419 1.057c0-.474-.141-.912-.376-1.285-.155-.247-.355-.46-.586-.636-.406-.309-.907-.499-1.457-.499s-1.051.19-1.457.499c-.232.176-.431.389-.587.636-.235.373-.376.811-.376 1.285 0 .473.141.912.376 1.285.199.314.466.576.783.771v3.979c0 .096.059.182.149.217.027.011.056.017.085.017.064 0 .126-.027.172-.076l.683-.738c.044-.048.106-.075.172-.075.065 0 .127.027.172.075l.683.738c.045.049.108.076.172.076.029 0 .058-.006.085-.017.089-.035.149-.121.149-.217v-3.979c.317-.195.584-.457.782-.771.235-.373.376-.812.376-1.285')
                      path(fill='#65676B', d='M15.32675 14.4072c1.082-.058 2.078-.607 2.703-1.493l.658-.931c.567-.803.474-1.898-.222-2.593-.084-.084-.194-.126-.304-.126-.111 0-.221.042-.306.126l-1.714 1.714c-.15.15-.348.226-.545.226-.197 0-.394-.076-.545-.226l-1.255-1.255c-.145-.144-.226-.34-.226-.545 0-.204.081-.4.226-.545l1.714-1.714c.169-.169.169-.442 0-.61-.391-.391-.908-.592-1.429-.592-.405 0-.812.122-1.164.37l-.931.658c-.885.625-1.435 1.621-1.493 2.703l-.111 2.061-9.785 9.787c-.797.796-.797 2.086 0 2.882.398.398.92.598 1.441.598s1.043-.2 1.441-.598l9.787-9.787 2.06-.11z')
                      path(fill='#BFC0BF', d='M1.98255 18.016l2.338-2.104V2.551c0-.384.315-.7.7-.7h13.983V.699c0-.384-.316-.699-.701-.699h-15.57c-.384 0-.699.315-.699.699l-.051 17.317z')

                figcaption.s-advantages__caption
                  h3.s-advantages__title Обслуживание
                  span.s-advantages__desc Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies.
