mixin products(title)

  section.s-products
    .container
      .row
        .col-7
          h2.s-section-title #{title}
        .col-5
          .s-products__more
            a(href='/')
              | Посмотреть все
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 14 11', width='14', height='11')
                g(fill='none', fill-rule='evenodd')
                  path(fill='#e1251b', d='M9.4237745.6811302C9.3029442.53456228 9.1106076.46965383 8.9269859.51347739c-.1836217.04382355-.3269931.18885281-.3703157.3745978-.0433226.18574499.0208438.38030568.1657363.50253314l3.5783794 3.62401432H.47291652C.20777409 5.02885266 0 5.25047601 0 5.5190616c0 .2685856.20777409.49020895.47291652.50443896H12.3007859L8.7167956 9.643258c-.1873886.1985093-.1873886.5109689 0 .7094781.0929058.0942756.2190886.1472639.3506839.1472639.1315954 0 .2577782-.0529883.350684-.1472639l4.4326456-4.48390178C13.9461357 5.77601458 14 5.6479386 14 5.51409526c0-.13384335-.0538643-.26191933-.1491909-.35473907L9.4237745.6811302z')
    .s-products__slider
      .s-products__slider-btn.s-products__slider-btn--next
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 15 25', width='15', height='25')
          path(fill-rule='evenodd', d='M10.65 12.5L.25 22.9l2.05 2.05L14.75 12.5 2.3 0 .25 2.05z')
      .s-products__slider-btn.s-products__slider-btn--prev
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 15 25', width='15', height='25')
          path(fill-rule='evenodd', d='M10.65 12.5L.25 22.9l2.05 2.05L14.75 12.5 2.3 0 .25 2.05z')
      .container
        .swiper-container.s-products__slider-swiper
          .swiper-wrapper
            .swiper-slide
              +product-card()
            .swiper-slide
              +product-card()
            .swiper-slide
              +product-card()
            .swiper-slide
              +product-card()
            .swiper-slide
              +product-card()
            .swiper-slide
              +product-card()
