.s-products {
  background-color: $bg-color--light;
  color: $text-color;
  padding: 2rem 0;

  @media (min-width: $screen-md) {
    padding: 4.5rem 0 4rem;
  }

  &__more {
    display: flex;
    justify-content: flex-end;

    a {
      display: block;
      font-size: $font-size--small;
      line-height: $line-heght--small;
      color: currentColor;
      vertical-align: top;

      @media (max-width: (375px - 1)) {
        display: none;
      }

      @media (max-width: ($screen-sm - 1)) {
        text-decoration: underline;
      }

      svg {
        display: inline-block;
        vertical-align: middle;
        margin-left: 1rem;
        transform: translate3d(0,-1px,0);

        @media (max-width: ($screen-sm - 1)) {
          display: none;
        }
      }
    }
  }

  &__slider {
    position: relative;
  }

  &__slider-btn {
    background-color: $bg-color--dark;
    color: $text-color--lighter;
    width: 80px;
    height: 80px;
    position: absolute;
    top: calc(50% - 40px);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;

    svg {
      fill: currentColor;
    }

    &--prev {
      left: 0;

      svg {
        transform: rotate3d(0,0,1,180deg);
      }
    }

    &--next {
      right: 0;
    }
  }
}