extends pug/layout.pug

block meta
  - var title = 'About';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +breadcrumb()
    +breadcrumb-item('Главная', '/index.html')
    +breadcrumb-item('О компании')

block content
  section.s-about-us
    .s-about-us__cover
      img(src='img/why-are-we-cover-example.jpg', alt='/')
    .container
      .row
        .col-12.col-lg-6
          h2.s-about-us__title О компании
          .s-about-us__text
            p Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.
            p Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.
            p Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro.


  +advantages()
  +news()

block footer
  +page-footer()