extends pug/layout.pug

block meta
  - var title = 'Category';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +breadcrumb()
    +breadcrumb-item('Главная', '/index.html')
    +breadcrumb-item('Каталог', '/catalog.html')
    +breadcrumb-item('Винтовые компрессоры', '/')
    +breadcrumb-item('Группа оборудования 1')

block content
  +inner-layout('Группа оборудования 1')
    block aside
      .s-catalog-nav
        ul.s-catalog-nav__list
          li.s-catalog-nav__item
            a.s-catalog-nav__link(
              href="#catalog-list",
              data-toggle="collapse",
              role="button",
              aria-expanded="false",
              aria-controls="catalog-list"
            ) Центробежные компрессоры
            #catalog-list.collapse.multi-collapse
              ul.s-catalog-nav__list.s-catalog-nav__list--level-2
                li.s-catalog-nav__item
                  a.s-catalog-nav__link(href='/') Item
                li.s-catalog-nav__item
                  a.s-catalog-nav__link(href='/') Item
                li.s-catalog-nav__item
                  a.s-catalog-nav__link(href='/') Item

          li.s-catalog-nav__item
            a.s-catalog-nav__link(
              href="#parts-list",
              data-toggle="collapse",
              role="button",
              aria-expanded="false",
              aria-controls="parts-list"
            ) Винтовые компрессоры
            #parts-list.collapse.multi-collapse.show
              ul.s-catalog-nav__list.s-catalog-nav__list--level-2
                li.s-catalog-nav__item
                  a.s-catalog-nav__link.s-catalog-nav__link--active(href='/') Item
                li.s-catalog-nav__item
                  a.s-catalog-nav__link(href='/') Item
                li.s-catalog-nav__item
                  a.s-catalog-nav__link(href='/') Item
                li.s-catalog-nav__item
                  a.s-catalog-nav__link(href='/') Item
          li.s-catalog-nav__item
            a.s-catalog-nav__link(
              href="#services-list",
              data-toggle="collapse",
              role="button",
              aria-expanded="false",
              aria-controls="services-list"
            ) Подготовка воздуха
            #services-list.collapse.multi-collapse
              ul.s-catalog-nav__list.s-catalog-nav__list--level-2
                li.s-catalog-nav__item
                  a.s-catalog-nav__link(href='/') Item
                li.s-catalog-nav__item
                  a.s-catalog-nav__link(href='/') Item
                li.s-catalog-nav__item
                  a.s-catalog-nav__link(href='/') Item

          li.s-catalog-nav__item
            a.s-catalog-nav__link(href='/') Масло и запасные части
          li.s-catalog-nav__item
            a.s-catalog-nav__link(href='/') Насосы и инструменты
          li.s-catalog-nav__item
            a.s-catalog-nav__link(href='/') Дополнительное оборудование

    block info
      .row
        .col-12.col-sm-4.order-sm-2
          .swiper-container.s-category-slider
            .swiper-wrapper
              .swiper-slide
                a(href='img/why-are-we-cover-example.jpg')
                  img(src='img/why-are-we-cover-example.jpg', alt='/')
              .swiper-slide
                a(href='img/why-are-we-cover-example.jpg')
                  img(src='img/why-are-we-cover-example.jpg', alt='/')
              .swiper-slide
                a(href='img/why-are-we-cover-example.jpg')
                  img(src='img/why-are-we-cover-example.jpg', alt='/')
          +btn('Задать вопрос')
        .col-12.col-sm-8.order-sm-1
          p Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby.

          #more.collapse.s-inner-layout__more
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia voluptate quisquam error voluptatum voluptatibus minus quam impedit odio facere. Facilis vitae sequi dolore voluptas voluptatem tenetur sint reprehenderit cumque et inventore eligendi illo, officiis atque ea excepturi maxime voluptates quia labore minima architecto adipisci tempora quidem quibusdam fugiat a. Sequi a cum, illo molestiae porro voluptatum, placeat facilis libero nemo soluta modi iste perferendis explicabo nobis consequatur dicta ipsam! Rem saepe expedita fugiat natus ipsa labore distinctio aperiam harum, eligendi possimus perferendis facere, cum ducimus consequatur? Laboriosam omnis magni, nobis voluptatum itaque. Quibusdam quia assumenda tempore perspiciatis dignissimos provident rem.

          button.s-inner-layout__more-btn(type='button', data-toggle='collapse', data-target='#more', aria-expanded='false', aria-controls='more') Посмотреть полностью

      .s-tabs
        ul#myTab.nav.nav-tabs(role='tablist')
          li.nav-item
            a#prop-tab.nav-link.active(data-toggle='tab', href='#prop', role='tab', aria-controls='prop', aria-selected='true') Характеристики
          li.nav-item
            a#service-tab.nav-link(data-toggle='tab', href='#service', role='tab', aria-controls='service', aria-selected='false') Сервис и зап. части
          li.nav-item
            a#media-tab.nav-link(data-toggle='tab', href='#media', role='tab', aria-controls='media', aria-selected='false') Медиа
          li.nav-item
            a#for-tab.nav-link(data-toggle='tab', href='#for', role='tab', aria-controls='for', aria-selected='false') Назначение
        #myTabContent.tab-content
          #prop.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='prop-tab')
            +table().s-table--with-filter
              tr.s-table__filters
                th
                  | Артикул
                  input(type='text', placeholder='Введите значение')
                th
                  | Наименование
                  input(type='text', placeholder='Введите значение')
                th
                  | Наименование
                  input(type='text', placeholder='Введите значение')
              tr.s-table__data
                td 489234-123
                td Suscitat mortuos
                td Suscitat mortuos
              tr.s-table__data
                td 489234-124
                td Defunctis go lum cerebro
                td Defunctis go lum cerebro
              tr.s-table__data
                td 489234-125
                td Zombie sicut de grave feeding iride
                td Zombie sicut de grave feeding iride
              tr.s-table__data
                td 489234-126
                td Iride et serpens
                td Iride et serpens
          #service.tab-pane.fade(role='tabpanel', aria-labelledby='service-tab') 2
          #media.tab-pane.fade(role='tabpanel', aria-labelledby='media-tab') 3
          #for.tab-pane.fade(role='tabpanel', aria-labelledby='for-tab') 4

  +news()

block footer
  +page-footer()