extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +feedback-modal()

block content
  +promo()
  +directions()

  section.s-why-are-we
    .s-why-are-we__cover
      img(src='img/why-are-we-cover-example.jpg', alt='/')
    .container
      .row
        .col-12.col-lg-5
          .s-why-are-we__inner
            h2.s-section-title Преимущества
            h3.s-why-are-we__intro Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos.
            p.s-why-are-we__text Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.
            +btn('Больше о нас', 'ghost')(href='/')

  section.s-who-are-we
    .s-who-are-we__cover
      img(src='img/who-are-we-cover-example.jpg', alt='/')
    .container
      .row
        .col-12.col-lg-6.offset-lg-4
          .s-who-are-we__inner
            h2.s-section-title О нас
            h3.s-who-are-we__intro Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos.
            p.s-who-are-we__text Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.
            +btn('Больше о нас', 'ghost')(href='/')

  +products('Оборудование')
  +advantages()
  +news()

block footer
  +page-footer()