extends pug/layout.pug

block meta
  - var title = 'Service';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  +inner-layout('Услуга 1')
    block aside
      .s-catalog-nav
        ul.s-catalog-nav__list
          li.s-catalog-nav__item
            a.s-catalog-nav__link(href='/') Услуга 1
          li.s-catalog-nav__item
            a.s-catalog-nav__link(href='/') Услуга 2
          li.s-catalog-nav__item
            a.s-catalog-nav__link(href='/') Услуга 3
    block info
      .row
        .col-12.col-sm-4.order-sm-2
          img(src='img/why-are-we-cover-example.jpg', alt='/')
        .col-12.col-sm-8.order-sm-1
          p Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby.

  +in-numbers()
  +advantages()
  +news()

block footer
  +page-footer()