.s-catalog-nav {
  margin-bottom: 1rem;
  color: $text-color;
  font-size: $font-size--small;
  line-height: $line-heght--small;

  @media (max-width: ($screen-sm - 1)) {
    padding-bottom: 1rem;
    border-bottom: 1px solid $border-color;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &--level-2 {

      .s-catalog-nav__item {
        margin: 0;
      }

      .s-catalog-nav__link {
        padding: 0.5rem 0.75rem;
        color: rgba($text-color, 0.5);

        &:hover,
        &:focus {
          background-color: darken($bg-color--light, 5%);
        }

        &--active {
          color: $color-primary;
        }
      }
    }
  }

  &__item {
    margin: 0;
    padding: 0;
    margin-bottom: 0.125rem;
  }

  &__link {
    display: block;
    vertical-align: middle;
    color: currentColor;
    background-color: $bg-color--light;
    padding: 0.5rem 0.75rem;
    transition: all 0.3s cubic-bezier(0.4,0,0,1);

    &:hover,
    &:focus {
      text-decoration: none;
      color: currentColor;
    }

    &--active {
      color: $color-primary;
    }
  }
}