mixin catalog-nav()

  .s-catalog-nav
    ul.s-catalog-nav__list
      li.s-catalog-nav__item
        a.s-catalog-nav__link(
          href="#catalog-list",
          data-toggle="collapse",
          role="button",
          aria-expanded="false",
          aria-controls="catalog-list"
        ) Центробежные компрессоры
        #catalog-list.collapse.multi-collapse
          ul.s-catalog-nav__list.s-catalog-nav__list--level-2
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Item
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Item
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Item

      li.s-catalog-nav__item
        a.s-catalog-nav__link(
          href="#parts-list",
          data-toggle="collapse",
          role="button",
          aria-expanded="false",
          aria-controls="parts-list"
        ) Винтовые компрессоры
        #parts-list.collapse.multi-collapse
          ul.s-catalog-nav__list.s-catalog-nav__list--level-2
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Item
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Item
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Item
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Item
      li.s-catalog-nav__item
        a.s-catalog-nav__link(
          href="#services-list",
          data-toggle="collapse",
          role="button",
          aria-expanded="false",
          aria-controls="services-list"
        ) Подготовка воздуха
        #services-list.collapse.multi-collapse
          ul.s-catalog-nav__list.s-catalog-nav__list--level-2
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Item
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Item
            li.s-catalog-nav__item
              a.s-catalog-nav__link(href='/') Item

      li.s-catalog-nav__item
        a.s-catalog-nav__link(href='/') Масло и запасные части
      li.s-catalog-nav__item
        a.s-catalog-nav__link(href='/') Насосы и инструменты
      li.s-catalog-nav__item
        a.s-catalog-nav__link(href='/') Дополнительное оборудование