.s-hamburger {
  width: 30px;
  height: 30px;
  padding: 0;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;

  @media (min-width: $screen-sm) {
    display: none;
  }

  &::before {
    position: absolute;
    content: '';
    top: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
  }

  span {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    top: 50%;
    right: 0;

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      height: 2px;
      right: 0;
      background-color: inherit;
    }

    &::before {
      top: -0.45rem;
      width: 60%;
    }

    &::after {
      bottom: -0.45rem;
      width: 80%;
    }
  }
}